
<div class="banner-principal">
  <div class="banner-titulo">
    <p>Experiencia en Pensiones</p>
  </div>
</div>
<div id="pensiones">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-left">
        <div class="content-text">
          <h3>Vida Cámara Seguros tiene el expertise de más de 35 años de desarrollo y crecimiento en los negocios previsionales y de salud, a través de nuestro principal accionista Inversiones ILC, dueño también de Confuturo, Vida Cámara Chile, AFP Habitat Chile y Perú, entre otras empresas del sector financiero y de salud.</h3>
          <h4>Además, gracias a ILC tenemos también la experiencia en la administración de portafolios de inversión y gestión eficiente de negocios, gracias a que somos y pertenecemos a uno de los holdings más grandes de Latinoamérica.</h4>
          <h4>Nuestro directorio y Gerencia General están compuestos por profesionales de seguros con muchos años de experiencia y destacado aporte al mercado previsional en Perú y Chile. Además nuestro staff de asesores, está conformado por un selecto equipo de profesionales, con más de 15 años de experiencia en el mercado previsional, instruyendo a los afiliados al sistema privado de pensiones, para que siempre tomen una decisión financiera informada sobre su renta vitalicia.</h4>
        </div>
      </div>
      <div class="col-md-6 p-right"><img src="img/2.png" alt=" "/></div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p class="subtitulo">Muchos motivos para elegir Vida Cámara Seguros</p>
        <div class="motivos"><img src="img/c-1.png" alt=""/>
          <p>Tenemos el  respaldo económico de uno de los holdings financieros latinoamericanos más grandes: Inversiones La Construcción (ILC)</p>
        </div>
        <div class="motivos"><img src="img/c-1.png" alt=""/>
          <p>Recogemos más 35 años de experiencia en negocios como AFP, Previsionales y Rentas Vitalicias.</p>
        </div>
        <div class="motivos"><img src="img/c-1.png" alt=""/>
          <p>Formamos parte de un Holding que administra fondos por más de 55 mil millones de dólares</p>
        </div>
        <div class="motivos"><img src="img/c-1.png" alt=""/>
          <p>Nos constituimos en el Perú el año 2013 y estamos orgullosos de ser un equipo de profesionales peruanos que trabaja día a día por darles el mejor servicio.</p>
        </div>
        <div class="motivos"><img src="img/c-1.png" alt=""/>
          <p>Nuestra calificación de riesgo es A-, según Pacific Credit Rating (PCR) y Class & Asociados, lo que demuestra nuestro respaldo económico, expertise y nuestra alta capacidad de pago de siniestros.</p>
        </div>
        <div class="motivos"><img src="img/c-1.png" alt=""/>
          <p>Nuestro Directorio y Gerencia cuentan con una exitosa y amplia trayectoria profesional nacional e internacional, en el sistema previsional.</p>
        </div>
        <div class="motivos"><img src="img/c-1.png" alt=""/>
          <p>Nuestras inversiones tienen un manejo conservador y una adecuada política de riesgos, lo que garantiza altos niveles de rentabilidad</p>
        </div>
      </div>
    </div>
  </div>
</div>