
<div class="menu">
  <ul class="list-inline menu-principal">
    <li><a class="ico-menu c-red menu--active" href="introduccion.html">INTRODUCCIÓN</a></li>
    <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
    <li><a class="ico-menu" href="ejercicios.html">EJERCICIOS</a></li>
    <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
    <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA DE FEEDBACK</a></li><a class="box-logo" href="index.html">
      <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
  </ul>
  <div class="sub-menu submenu1"></div>
</div>