
<div class="modal" id="modalLoading" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Cargando Contenido Multimedia <span id="avance"></span></h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>