
<div class="ing_mundo" id="articulos">
  <div class="content-g">
    <h4>Ingeniería Civil <strong> en el mundo </strong></h4>
    <div class="owl-carousel owl-theme carousel">
      <div class="item"><img src="img/page1.jpg" alt=""/>
        <h4>La ciudad como problema  y solución</h4>
        <p>IKER SEISDEDOS  01/06/2017 - 21:57 CES</p>
      </div>
      <div class="item"><img src="img/page1.jpg" alt=""/>
        <h4>La ciudad como problema  y solución</h4>
        <p>IKER SEISDEDOS  01/06/2017 - 21:57 CES</p>
      </div>
      <div class="item"><img src="img/page1.jpg" alt=""/>
        <h4>La ciudad como problema  y solución</h4>
        <p>IKER SEISDEDOS  01/06/2017 - 21:57 CES</p>
      </div>
      <div class="item"><img src="img/page1.jpg" alt=""/>
        <h4>La ciudad como problema  y solución</h4>
        <p>IKER SEISDEDOS  01/06/2017 - 21:57 CES</p>
      </div>
      <div class="item"><img src="img/page1.jpg" alt=""/>
        <h4>La ciudad como problema  y solución</h4>
        <p>IKER SEISDEDOS  01/06/2017 - 21:57 CES</p>
      </div>
    </div>
    <div class="carousel-prev"><img src="img/icono/fill1.png" alt=""/></div>
    <div class="carousel-next"><img src="img/icono/fill2.png" alt=""/></div>
  </div>
</div>