body,
html {
  height: 100%;
}

h1, h2, h3, h4, h5, p {
    margin: 0px;
}
strong{
    font-family: $base-bold;
}

.container-wrapper {
    display: table;
    margin: 0 auto;
    height: 100%;
}

.align-container{
    display: table-cell;
    vertical-align: middle;
}

.container{
    padding: 0;
    margin: auto;
    width: 960px;
    height: 650px;
    border: 1px solid #E0E0E0;
    position: relative;
}

.button-crema-g{
    width: 148px;
    letter-spacing: 1.1px;
    font-size: 14px;
    font-family: $base-medium;
    background: $crema;
    color: $gris;
    padding: 11px;
    border-color: transparent;
    &:hover,
    &:focus {
        background: darken($crema, 10%);
        border-color: transparent;
        outline: 0;
        transition: all .5s;
        color: $gris;

        &:active {
            background: darken($crema, 10%);
            border-color: transparent;
            color: $gris;
        }
    }

    &:active {
        background: darken($crema, 10%);
        border-color: transparent;
    }
}

.btn-l{
    border-radius: 0px 20px;
    margin-right: 2px;
}
.btn-r{
    border-radius: 20px 0px;
}

footer{
    padding-right:40px;
    overflow: hidden;
    p{
        font-size: 8px;
        float: right;
        font-weight: bold;
        color: #5D5D5D;
        font-family: $base-normal;
    }
}
.bg-red{
    background: $red;
    border: 1px solid transparent !important;
}
.bg-green{
    background: $green;
    border: 1px solid transparent !important;
}
.bg-yellow{
    background: $yellow;
    border: 1px solid transparent !important;
}
.c-red{
    color: $red !important;
}
.c-green{
    color: $green;
}
.c-yellow{
    color: $yellow;
}
.c-orange{
    color: #f9931f !important;
}
.c-plomo{
    color: #666666 !important;
}


/* estilos extras*/
.pd-0{
    padding: 0;
}
.pdr-0{
    padding-right: 0;
}
.pl-0{
    padding-left: 0px;
}
.img-center{
    display: block;
    margin: 0 auto;
    padding: 45px 0px ;
}


.occult {
    opacity: 0;
}