
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu" href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu c-red menu--active" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="index.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="content-resumen">
      <div class="box-titulo-resumen">
        <div class="col-md-1"><img src="img/iconos/pieza.png" alt=""/></div>
        <div class="col-md-6">
          <div class="titulo">Caso prático</div>
          <div class="texto">Apontar conforme indicado</div>
        </div>
      </div>
      <div class="box-titulo-resumen true-false h-63 mg-b1">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <div class="titulo">Selecione “certo” ou “errado”, de acordo com a ação de Mateus</div>
          <div class="row">
            <div class="col-md-10">
              <p>Revisa a informação inserida no Destaca por Pedro</p>
              <p>Envia a Pedro as suas oportunidades e recomendações por e-mail</p>
              <p>Se prepara para dar um feedback claro e poderoso </p>
              <p>Não define a próxima data de revisão, pois  não foi pedida por Pedro</p>
            </div>
            <div class="col-md-2">
              <form class="col-respuesta">
                <select class="selectpicker">
                  <option>-Seleccione-</option>
                  <option>Certo</option>
                  <option>Errado</option>
                </select>
                <select class="selectpicker">
                  <option>-Seleccione-</option>
                  <option>Certo</option>
                  <option>Errado</option>
                </select>
                <select class="selectpicker">
                  <option>-Seleccione-</option>
                  <option>Certo</option>
                  <option>Errado</option>
                </select>
                <select class="selectpicker">
                  <option>-Seleccione-</option>
                  <option>Certo</option>
                  <option>Errado</option>
                </select>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="ejercicios4.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r notClicked" href="#" role="button" disabled="disabled">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var data = [{
      id:"d45.mp3",
      isFirst:true,
      delay:800
   }];
  
  jQuery(document).ready(function ($) {
  
      $('select').on('change', function() {
  
              getSelects('selectpicker');
  
          });
  
          function getSelects(element_class) {
              var array2 = [];
              $('select.' + element_class).children('option:selected').each(function () {
                  var $this = $(this);
                  array2.push($this.text());
              });
  
              var index = array2.indexOf("-Seleccione-");
  
              if (index == -1) {
  
                  var array1 = ['Certo','Errado','Certo','Errado'];
  
                  var is_same = array1.length == array2.length && array1.every(function(element, index) {
                              return element === array2[index];
                          });
  
                  if(is_same){
  
                     jQuery(".container-wrapper").load("ejercicios5-bien.html",function(){
                        var audio = document.getElementById("d45_correcto.mp3");
                        if(audio){
                          audio.play();
                        }
                     });
  
                  }
                  else{
  
                     jQuery(".container-wrapper").load("ejercicios5-mal.html",function(){
                        var audio = document.getElementById("d45_incorrecto.mp3");
                        if(audio){
                          audio.play();
                        }
                     });
                  }
              }
          }
          
          if(Audio){
              Audio.init(data);
          }
  
  });
</script>