
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu" href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu c-red menu--active" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="content-resumen">
      <div class="box-titulo-resumen">
        <div class="col-md-1"><img src="img/iconos/pieza.png" alt=""/></div>
        <div class="col-md-6">
          <div class="titulo">Caso prático</div>
          <div class="texto">Leja com atenção os seguintes perfis:</div>
        </div>
      </div>
      <div class="box-col">
        <div class="col-md-6">
          <div class="nombre one occult">Pedro<img src="img/pedro.jpg" alt=""/></div>
          <div class="box-three occult">
            <div class="box-casos-e"><img class="pull-left" src="img/iconos/yellow.jpg" alt=""/>
              <div class="texto-casos">Trabalha há 12 anos na Alicorp.</div>
            </div>
            <div class="box-casos-e"><img class="pull-left" src="img/iconos/yellow.jpg" alt=""/>
              <div class="texto-casos">Conhece muito bem o processo Compromissos Para o Êxito e conhece também os processos da sua área.</div>
            </div>
            <div class="box-casos-e"><img class="pull-left" src="img/iconos/yellow.jpg" alt=""/>
              <div class="texto-casos">Mas ele tem problemas para sintetizar as suas ideias, e não assume a responsabilidade das suas ações.</div>
            </div>
            <div class="box-casos-e"><img class="pull-left" src="img/iconos/yellow.jpg" alt=""/>
              <div class="texto-casos">Tem 3 dos seus 5 objetivos em perigo de não chegar à meta mínima e não está cumprindo com todas as iniciativas.</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="nombre two occult">Mateo<img src="img/juan.png" alt="" /></div>
          <div class="box-four occult">
            <div class="box-casos-e"><img class="pull-left" src="img/iconos/yellow.jpg" alt=""/>
              <div class="texto-casos">Tem 29 anos, 2 anos de experiência na Alicorp e 1 ano como líder da equipe.</div>
            </div>
            <div class="box-casos-e"><img class="pull-left" src="img/iconos/yellow.jpg" alt=""/>
              <div class="texto-casos"> Sabe que Pedro não está trabalhando no Plano de Desenvolvimento das suas Competências.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="ejercicios.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="ejercicios2.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var data = [ { 
      id:"d41-01.mp3",
      delay:800,
      isFirst:true,
      whitChild:[
            {
              class:".one",
              options:{
                from: {y:"30px", delay:.5},
                to:{opacity: 1, delay:.5}
              }
            },
            {
              class:".two",
              options:{
                from: {y:"30px", delay:.5},
                to:{opacity: 1, delay:.5}
              }
            },
      ],
      onEnd:{
        delay:200,
        audio:"d41-02.mp3",
        class:".box-three",
        options:{
          from:{scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
          to:{opacity: 1, delay:.5}
        }
      }
  
    },
    {
      id:"d41-02.mp3",            
      onEnd:{
        audio:"d41-03.mp3",
        class:".box-four",
        options:{
          from:{scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
          to:{opacity: 1, delay:.5}
        }
  
      }
    },
    {
      id:"d41-03.mp3",
    }
  ];
  
  if(Audio){
      Audio.init(data);
  }
</script>