
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu" href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu c-red menu--active" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="content-resumen" id="ejer3">
      <div class="box-titulo-resumen">
        <div class="col-md-1"><img src="img/iconos/pieza.png" alt=""/></div>
        <div class="col-md-6">
          <div class="titulo">Caso prático</div>
          <div class="texto">Marque a resposta correta:</div>
        </div>
      </div>
      <div class="col-md-12 h-63">
        <div class="titulo c-plomo">2. Que habilidade deve usar o líder para este colaborador?</div>
        <p class="text-help" style="font-size: 14px;font-family: 'Gotham-Book';font-weight: bold;padding-left: 30px;">Selecione dois habilidade</p>
        <ul>
          <li><img class="img-responsive" src="img/an-1.jpg" alt=""/>
            <div class="checkbox checkbox2 color-green">
              <p>
                <input class="input-field" id="check1" type="checkbox" name="rpta1" value="1"/>
                <label class="color-green check-item" for="check1">Empatia</label>
              </p>
            </div>
          </li>
          <li><img class="img-responsive" src="img/an-2.jpg" alt=""/>
            <div class="checkbox checkbox2 color-green">
              <p>
                <input class="input-field" id="check2" type="checkbox" name="rpta2" value="2"/>
                <label class="color-green check-item" for="check2">Assertividade</label>
              </p>
            </div>
          </li>
          <li><img class="img-responsive" src="img/an-3.jpg" alt=""/>
            <div class="checkbox checkbox2 color-green">
              <p>
                <input class="input-field" id="check3" type="checkbox" name="rpta3" value="3"/>
                <label class="color-green check-item" for="check3">Pensamento Analítico </label>
              </p>
            </div>
          </li>
          <li><img class="img-responsive" src="img/an-4.jpg" alt=""/>
            <div class="checkbox checkbox2 color-green">
              <p>
                <input class="input-field" id="check4" type="checkbox" name="rpta4" value="4"/>
                <label class="color-green check-item" for="check4">Objetividade</label>
              </p>
            </div>
          </li>
          <li><img class="img-responsive" src="img/an-5.jpg" alt=""/>
            <div class="checkbox checkbox2 color-green">
              <p>
                <input class="input-field" id="check5" type="checkbox" name="rpta5" value="5"/>
                <label class="color-green check-item" for="check5">Autocontrole</label>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="ejercicios3.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r notClicked" href="#" role="button" disabled="disabled">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var audio = document.getElementById("d44.mp3");
  var data = [{
                  id:"d44.mp3",                
                  isFirst:true,
            }]; 
  jQuery(document).ready(function(){
      $("#ejer3").delegate('.input-field','click',function() {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
  
        if ($box.is(":checked"))
         {
          $box.prop("checked", true);
  
          var checkboxLen = $("input:checkbox:checked").length;
          var rpta3 = $( "input[name='rpta3']" ).is(":checked");
          var rpta5 = $( "input[name='rpta5']" ).is(":checked");
  
          if (checkboxLen == 2) {
            
            if(audio){
              audio.pause();
              audio.currentTime = 0;
            }
  
            if (rpta3 && rpta5 ) {
              $(".good").show(500);
              jQuery(".container-wrapper").load("ejercicios4-bien.html",function(){
                  var audio = document.getElementById("d44_correcto.mp3");
                  if(audio){
                      audio.play();
                  }
              });
            } else {
              $(".bad").show(500);
              jQuery(".container-wrapper").load("ejercicios4-mal.html",function(){
                  var audio = document.getElementById("d44_incorrecto.mp3");
                  if(audio){
                      audio.play();
                  }
              });
  
            }
          }
        } else
        {
          $(".good, .bad").hide(500);
          $box.prop("checked", false);
        }
      });
  
      if(Audio){
          Audio.init(data);
      }  
  });
</script>