
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu" href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu c-red menu--active" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="content-resumen">
      <div class="box-titulo-resumen">
        <div class="col-md-1"><img src="img/iconos/pieza.png" alt=""/></div>
        <div class="col-md-6">
          <div class="titulo">Caso prático</div>
          <div class="texto">Agora, analise a cena:</div>
        </div>
      </div>
      <div class="col-md-12 h-63 pd-sec-12">
        <div class="row">
          <div class="col-md-6">
            <div class="box-casos-e occult one"><img class="pull-left" src="img/iconos/yellow.jpg" alt=""/>
              <div class="texto-casosb"><strong>Pedro programou sua sessão de RDMA</strong> com uma semana de antecedência. </div>
            </div>
          </div>
          <div class="col-md-6 pd-l">
            <div class="box-casos-e occult three"><img class="pull-left" src="img/iconos/yellow.jpg" alt=""/>
              <div class="texto-casosb"><strong>Mateus revisou no DESTACA</strong> a informação em relação ao <strong>  avanço dos objetivos</strong> e iniciativas de Pedro.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="box-casos-e occult two"><img class="pull-left" src="img/iconos/yellow.jpg" alt=""/>
              <div class="texto-casosb">No dia da sessão de feedback, <strong> Pedro comentou que conhecia bem este processo (CPE),</strong> já que era a decima Revisão de Meio ano que ele participava, e que na sua experiência este processo é muito útil para os Líderes e colaboradores. Também comentou que todos estavam satisfeitos com a sua nova função de Líder e que poderia falar com mais detalhes dos comentários positivos em relação a sua gestão</div>
            </div>
          </div>
          <div class="col-md-6 pd-l">
            <div class="box-casos-e occult four"><img class="pull-left" src="img/iconos/yellow.jpg" alt=""/>
              <div class="texto-casosb">Mateus, se preparou antes para a sessão, descreveu o contexto e os comportamentos que tinha definido previamente. Mesmo assim <strong>não conseguiu completar todo o <br> prolongando-se </strong> na escuta a Pedro; E, como já tinha outra sessão programada, com outro colaborador, <strong> enviou a Pedro as suas oportunidades e recomendações por e-mail. </strong></div>
            </div>
            <div class="box-casos-e occult five"><img class="pull-left" src="img/iconos/yellow.jpg" alt=""/>
              <div class="texto-casosb">Mateus se sentiu confiante e, já que não recebeu perguntas depois da sessão, <strong>não programou outro espaço de feedback, pois também não foi solicitado a ele.</strong></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="ejercicios1.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="ejercicios3.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
      var data = [ { 
        id:"d42-01.mp3",              
        delay:1000,
        isFirst:true,
        whitChild:[
              {
                class:".one",
                options:{
                  from: {y:"30px", delay:.5},
                  to:{opacity: 1, delay:.5}
                }
              },
              {
                class:".two",
                options:{
                  from: {y:"30px", delay:4.5},
                  to:{opacity: 1, delay:4.5}
                }
              },
        ],
        onEnd:{
          delay:200,
          audio:"d42-02.mp3",
          class:".three",
          options:{
            from:{y:"30px", delay:.5},
            to:{opacity: 1, delay:.5}
          }
        }
  
      },
      {
        id:"d42-02.mp3",              
        onEnd:{
          audio:"d42-03.mp3",
          class:".four",
          options:{
            from: {y:"30px", delay:.5},
            to:{opacity: 1, delay:.5}
          }
  
        }
      },
      {
        id:"d42-03.mp3",              
        onEnd:{
          delay:200,
          audio:"d42-04.mp3",
          class:".five",
          options:{
            from: {y:"30px", delay:.5},
            to: {opacity: 1, delay:.5}
          }
        }
  
      },
      {
        id:"d42-04.mp3"              
      }
    ];
  
  if(Audio){
    Audio.init(data);
  }
</script>