
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu" href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu c-red menu--active" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="intro-feedback bg-ejercicios h-resumen">
      <div class="btn-w-feedback lr-relative btn-1 occult">
        <p>Caso prático </p>
      </div>
      <div class="row-intro-feedback l-328">
        <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-despues6.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="ejercicios1.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
      </div>
      <div class="footer">
        <p>Alicorp 2017 © Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    data = [ { 
              id:"d40.mp3",
              delay:800,
              isFirst:true,
              class:".btn-1",
              options:{
                from:{y:"50px", delay:.5},
                to:{opacity: 1, delay:.5}
              }
  
          }];
  if(!document.getElementById('d40.mp3')){
    jQuery("#modalLoading").modal("show");
    var audios = ["d40.mp3","d41-01.mp3","d41-02.mp3","d41-03.mp3","d41.mp3","d41_correcto.mp3","d41_incorrecto.mp3","d42 correcto nuevo.mp3","d42 incorrecto nuevo.mp3","d42 nuevo.mp3","d42-01.mp3","d42-02.mp3","d42-03.mp3","d42-04.mp3","d43.mp3","d43_correcto.mp3","d43_incorrecto.mp3","d44.mp3","d44_correcto.mp3","d44_incorrecto.mp3","d45 nuevo.mp3","d45.mp3","d45_correcto.mp3","d45_incorrecto.mp3"];
    
    totalResults = audios.length;
    
    mediaContent(audios);
  
  }else{
    Audio.init(data);
  }
</script>