
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a class="line-w" href="feedback-antes.html">Antes</a></li>
            <li><a href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="intro-feedback bg-reflexion">
      <div class="btn-reflexion n-2 occult">
        <div class="text-reflexion">
          <p>Existem algumas habilidades que te ajudarão a conduzir os diferentes estados emocionais </p>
        </div>
      </div><img class="hb-right" src="img/iconos/hb-right.png" alt=""/>
      <div class="row-btn btn-centro-general"><a class="btn btn-primary button-crema-g btn-l" href="feedback-antes5.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-antes7.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    </div>
    <div class="footer">
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </div>
  </div>
</div>
<script type="text/javascript">
  var data = [{
                id:"d21.mp3",        
                delay:800,
                class:".btn-reflexion",
                options:{
                  from:{y:"30px", delay:.5},
                  to: {opacity: 1, delay:.5}
                },
                isFirst:true
            }];
  if(Audio){
    Audio.init(data);
  }
</script>