
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a href="feedback-durante.html">Durante</a></li>
            <li><a class="line-w" href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="intro-colaboradores">
      <div class="titulo">O que dizem os colaboradores sobre o feedback? </div>
      <div class="seccion-colaboradores">
        <div class="content-que-dicen">
          <div class="recuadro-g r-1 occult">
            <p>"...preferiria ter espaços mais informais que promovam o feedback continuo ".</p>
          </div>
          <div class="recuadro-2 occult"><img src="img/n-1.png" alt=""/></div>
          <div class="recuadro-3 occult"><img src="img/n2.png" alt=""/></div>
          <div class="recuadro-g r-2 occult">
            <p>“…considero que meu desempenho poderia ser melhor se recebesse feedback contínuo do meu líder.”.</p>
          </div>
          <div class="recuadro-text1">
            <h5>Fuente: Revisión del proceso de Compromisos para el éxito de la Consultora Mercer 2017</h5>
          </div>
        </div><img class="rec" src="img/recuerda.png" alt="" style="margin-top: -15px;" />
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-despues4.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-despues6.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
     var data = [
          {
            id:"d38-01.mp3",
            delay:1000,
            time:1,
            class:".recuadro-2",
            options:{
              to : {opacity: 1, delay:.5},
              from:{y:"50px", delay:.5}
            },                   
            onEnd:{
              audio:"d38-02.mp3",
              class:".r-1",                      
              delay:400,
              options:{
                from: {y:"50px", delay:.7},
                to:{opacity: 1, delay:.7}
              },
              whitChild:[{
                class:".recuadro-3",
                options:{
                    from: {y:"40px", delay:4.0},
                    to:{opacity: 1, delay:4.0}
                }
              }]
            },
            isFirst:true
          },
          {
            id:"d38-02.mp3", 
            onEnd:{
              class:".r-2",
              audio:"d38-03.mp3",                     
              delay:400,
              options:{
                from: {y:"40px", delay:.3},
                to:{opacity: 1, delay:.3}
              }
            }
  
          },
  
           {
            id:"d38-03.mp3",             
            onEnd:{
              audio:"d38-04.mp3",
              delay:400,                     
            }
  
          },
          {
            id:"d38-04.mp3",
          }];
  
  if(Audio){
    Audio.init(data);
  }
</script>