
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a href="feedback-durante.html">Durante</a></li>
            <li><a class="line-w" href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="intro-despues-caso">
      <div class="titulo">Como reconhecer cada caso? </div>
      <div class="seccion-despues-caso">
        <div class="col-md-4 pl-0"><img class="colum-l occult img-despues" src="img/banderin-2.png" alt=""/>
          <h4 class="colum-l occult c-yellow">Casos com media necessidade de acompanhamento</h4>
        </div>
        <div class="col-md-8 pd-0">
          <div class="subtitulo tl_list0 occult">Quando o colaborador:</div>
          <div class="box-casos tl_list1 occult"><img class="pull-left" src="img/iconos/ico-verde.png" alt=""/>
            <div class="texto-casos"><strong> Não consigue o avanço esperado </strong>  e isso tenha efeito direto ao risco de não cumprimento dos objetivos ao final do ano.</div>
          </div>
          <div class="box-casos tl_list2 occult"><img class="pull-left" src="img/iconos/ico-verde.png" alt=""/>
            <div class="texto-casos">Pode-se considerar que este tem o potencial, mas ainda <strong>não é consciente das suas fortaleças.</strong> </div>
          </div>
          <div class="box-casos tl_list3 occult"><img class="pull-left" src="img/iconos/ico-verde.png" alt=""/>
            <div class="texto-casos"><strong>Não consegue implementar facilmente</strong> o plano de desenvolvimento das suas competências. </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-despues2.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-despues4.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var data = [
      {
        id:"d36-01.mp3",
        delay:600,
        time:2,
        class:".colum-l",
        options:{
          to : {opacity:1, ease:"Back.easeInOut"}
        },
        whitChild:[
            {
              class:".tl_list0",
              options:{
                from: {y:"40px", delay:2.},
                to:{opacity: 1, delay:2.}
              }
            },
            {
              class:".tl_list1",
              options:{
                from:{y:"40px", delay:1.5},
                to:{opacity: 1, delay:1.5}
              }
            }
        ],
        onEnd:{
          audio:"d36-02.mp3",
          class:".tl_list2",
          delay:400,
          options:{
            from: {y:"50px", delay:.7},
            to:{opacity: 1, delay:.7}
          }
        },
        isFirst:true
      },
      {
        id:"d36-02.mp3",
        onEnd:{
          audio:"d36-03.mp3",
          class:".tl_list3",
          delay:400,
          options:{
            from: {y:"40px", delay:.7},
            to:{opacity: 1, delay:.7}
          }
        }
  
      },
      {
        id:"d36-03.mp3"
      }];
  
  if(Audio){
    Audio.init(data);
  }
</script>