
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a class="line-w" href="feedback-antes.html">Antes</a></li>
            <li><a href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="valores">
      <div class="row val-1">
        <p class="titulo">Habilidade do líder</p>
        <div class="col-md-4 box-1 occult"><img src="img/an-1.png" alt=""/>
          <h4>Empatia</h4>
        </div>
        <div class="col-md-4 box-2 occult"><img src="img/an-2.png" alt=""/>
          <h4>Assertividade</h4>
        </div>
        <div class="col-md-4 box-3 occult"><img src="img/an-3.png" alt=""/>
          <h4 class="mg-15">Pensamento Analítico </h4>
        </div>
      </div>
      <div class="row val-2">
        <div class="col-md-2"></div>
        <div class="col-md-4 box-4 occult"><img src="img/an-4.png" alt=""/>
          <h4>Objetividade</h4>
        </div>
        <div class="col-md-4 box-5 occult"><img src="img/an-5.png" alt=""/>
          <h4>Autocontrole</h4>
        </div>
        <div class="col-md-2">
          <div class="img-descarga"><a class="notClicked" href="pdf/Habilidades do Gestor.pdf" download=""><img src="img/descarga.png" alt=""/></a></div>
        </div>
      </div>
    </div>
    <div class="row-intro-feedback l-328">
      <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-antes7.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-antes9.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    </div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var data = [
       {
         id:"d23-01.mp3",                
         delay:200,
         onEnd:{
           delay:600,
           audio:"d23-02.mp3",
           class:".box-1",
           options:{
             from: {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
             to:{opacity: 1, delay: .5}
           }
         },
         isFirst:true,
  
       },
       {
         id:"d23-02.mp3",                
         onEnd:{
           delay:600,
           audio:"d23-03.mp3",
           class:".box-2",
           options:{
             from:{scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
             to:{opacity: 1, delay:.5}
           }
         }
  
       },
       {
         id:"d23-03.mp3",                
         onEnd:{
           delay:600,
           audio:"d23-04.mp3",
           class:".box-3",
           options:{
             from: {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
             to:{opacity: 1, delay:.5}
           }
  
         }
       },
       {
         id:"d23-04.mp3",
         onEnd:{
           delay:600,
           audio:"d23-05.mp3",
           class:".box-4",
           options:{
             from:{scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
             to: {opacity: 1, delay:.5}
           }
         }
       },
       {
         id:"d23-05.mp3",
         onEnd:{
           delay:600,
           audio:"d23-06.mp3",
           class:".box-5",
           options:{
             from:{scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
             to: {opacity: 1, delay:.5}
           }
         }
       },
       {
         id:"d23-06.mp3",
       }
      ];
  
  
   if(Audio){
     Audio.init(data);
   }
</script>