
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a class="line-w" href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="algunas-frase">
      <div class="col-md-12 content">
        <div class="col-md-4 col-left-frase"><img class="left occult" src="img/3b.png" alt=""/>
          <h4 class="left occult">Impacto <br> Influência</h4>
        </div>
        <div class="col-md-8 col-right-frase">
          <div class="titulo">Algumas frases que podem ser usadas:</div><img class="img-center occult" src="img/iconos/3b.png" alt=""/>
          <div class="row analiza occult">
            <div class="col-md-6">
              <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt=""/>
                <p>A minha percepção sobre o contexto foi...</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt=""/>
                <p>Fale um pouco das razões, das <br>  ações ou dos comportamentos <br> mostrados...</p>
              </div>
            </div>
          </div>
          <div class="row analiza occult">
            <div class="col-md-6">
              <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt=""/>
                <p>Isso é relevante porque... </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt=""/>
                <p>O impacto dessas <br>  ações foi... </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-durante3.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-durante5.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
     var data = [
        {
          id:"d28-01.mp3",
          delay:200,
          class:".left",     
          options:{
            to:{opacity: 1, delay:.5},
            from: {marginLeft: "-150px", delay:.5}
          },
          whitChild:[{
              class:".img-center",
              options:{
                from:{y:"30px", delay:1.},
                to:{opacity: 1, delay:1.}
              }
  
          }],
          onEnd:{
            delay:100,
            audio:"d28-02.mp3",
            class:".analiza",                
            options:{
              from: {scaleX:.4, scaleY:.4, delay:.3, ease: "Back.easeOut"},
              to:  {opacity: 1, delay:.3}
            }
          },
          isFirst:true,
  
        },
        {
          id:"d28-02.mp3",                        
          onEnd:{
            delay:100,
            audio:"d28-03.mp3", 
          }
  
        },
        {
          id:"d28-03.mp3",
          onEnd:{
            delay:100,                    
            audio:"d28-04.mp3",  
          }
        },
        {
          id:"d28-04.mp3",
          onEnd:{
            delay:100,
            audio:"d28-05.mp3"
          }
        },
        {
          id:"d28-05.mp3"
        
        }
       
       ];
  
  if(Audio){
    Audio.init(data);
  }
</script>