
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a class="line-w" href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="intro-feedback bg-feedback">
      <div class="btn-w-feedback l-40 btn-1 occult">
        <p>Revisão de <br> Meio ano </p>
      </div>
      <div class="row-intro-feedback l-328">
        <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="introduccion5.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-taller1.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
      </div>
      <div class="footer">
        <p>Alicorp 2017 © Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
   data = [    
             {
                  id :"d09.mp3",     
                  class:".btn-1",    
                  isFirst: true,
                  delay:600,
                  options:{
                    to :   { opacity: 1, delay:.2},
                    from : { y:"50px", delay:.5 }
                  }                 
               }
               
         ]; 
  if(!document.getElementById('d09.mp3')){
     
     jQuery("#modalLoading").modal("show");
  
     var audios = ["d09.mp3","d09-01.mp3","d09-02.mp3","d09-03.mp3","d09-04.mp3","d09-05.mp3","d09-06.mp3","d10-01.mp3","d10-02.mp3","d10.mp3","d11-01.mp3","d11-02.mp3","d11-03.mp3","d11-04.mp3","d12-01.mp3","d12-02.mp3","d12.mp3","d13-01 nuevo.mp3","d13-01.mp3","d13-02.mp3","d13-03.mp3","d13-04.mp3","d13-05.mp3","d13.mp3","d14-01.mp3","d14-02.mp3","d14-03.mp3","d14-04.mp3","d14-05.mp3","d14-06.mp3","d14-07.mp3","d14-08.mp3","d15 _incorrecto.mp3","d15.mp3","d15_correcto.mp3","d16-01.mp3","d16-02.mp3","d16-03.mp3","d16-04.mp3","d16.mp3","d17-01 nuevo.mp3","d17-01.mp3","d17-02.mp3","d17-03.mp3","d17-04.mp3","d17-05.mp3","d17-06.mp3","d17.mp3","d18.mp3","d19.mp3","d20-01.mp3","d20-02.mp3","d20.mp3","d21.mp3","d22.mp3","d23-01.mp3","d23-02.mp3","d23-03.mp3","d23-04.mp3","d23-05.mp3","d23-06.mp3","d24.mp3","d25.mp3","d26-01.mp3","d26-02.mp3","d26-03.mp3","d26-04.mp3","d27-01.mp3","d27-02.mp3","d27-03.mp3","d27-04.mp3","d27-05.mp3","d28-01 nuevo.mp3","d28-01.mp3","d28-02.mp3","d28-03.mp3","d28-04.mp3","d28-05.mp3","d28.mp3","d29-01.mp3","d29-02.mp3","d29-03.mp3","d29-04.mp3","d29-05.mp3","d29.mp3","d30.mp3","d31.mp3","d32.mp3","d32_correcto.mp3","d32_incorrecto.mp3","d33.mp3","d34-01.mp3","d34-02.mp3","d34-03.mp3","d34-04.mp3","d34.mp3","d35-01.mp3","d35-02.mp3","d35-03.mp3","d35-04.mp3","d35.mp3","d36-01.mp3","d36-02.mp3","d36-03.mp3","d36.mp3","d37-01.mp3","d37-02.mp3","d37-03.mp3","d37-04.mp3","d37.mp3","d38-01.mp3","d38-02.mp3","d38-03.mp3","d38-04.mp3","d38.mp3","d39.mp3"];
  
     totalResults = audios.length;    
     mediaContent(audios);
  
  }else{
  
      Audio.init(data);
  }
</script>