
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a class="line-w" href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="intro-feedback bg-durante">
      <div class="btn-w-feedback l-40 occult">
        <p>A experiência <br> de fornecer feedback  <span class="meto"> Metodologia </span></p>
      </div>
      <div class="row-intro-feedback">
        <div class="box-btn-intro">
          <div class="btn-intro-feedback">
            <h3>Antes</h3>
          </div>
          <div class="btn-intro-feedback bg-red">
            <h3>Durante</h3>
          </div>
          <div class="btn-intro-feedback">
            <h3>Depois</h3>
          </div>
        </div>
        <div class="row-btn mg-f-des"><a class="btn btn-primary button-crema-g btn-l" href="feedback-antes9.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-durante2.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
      </div>
      <div class="footer">
        <p>Alicorp 2017 © Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
   var data = [{
               id:"d25.mp3",
               delay:800,
               class:".btn-w-feedback",
               options:{
                 from: {marginLeft: "-100px", delay:.5},
                 to: {opacity: 1, delay:.5}
               },
               isFirst:true
             }];
  
  
  if(Audio){
    Audio.init(data);
  }
</script>