
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a class="line-w" href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="algunas-frase">
      <div class="col-md-12 content">
        <div class="col-md-4 col-left-frase"><img class="left occult" src="img/3c.png" alt=""/>
          <h4 class="left occult">Plano Compromisso</h4>
        </div>
        <div class="col-md-8 col-right-frase">
          <div class="titulo">Algumas frases que podem ser usadas: </div><img class="img-center occult" src="img/iconos/3-c.png" alt=""/>
          <div class="row actua occult">
            <div class="col-md-6">
              <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt=""/>
                <p>Eu como colaborador me comprometo a...</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt=""/>
                <p> Eu como líder me comprometo <br>  a apoiar em...</p>
              </div>
            </div>
          </div>
          <div class="row actua occult">
            <div class="col-md-6">
              <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt=""/>
                <p>A partir de agora podemos <br> fazer... </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt=""/>
                <p>Me diz como você acha que trataria este desafio...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-durante4.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-durante6.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var data = [
          {
            id:"d29-01.mp3",
            class:".left",     
            options:{
              to:{opacity: 1, delay:.5},
              from: {marginLeft: "-150px", delay:.5}
            },          
            delay:200,
            whitChild:[{
                class:".img-center",
                options:{
                  from:{y:"30px", delay:1.},
                  to:{opacity: 1, delay:1.}
                }
  
            }],
            onEnd:{
              delay:100,
              audio:"d29-02.mp3",
              class:".actua",                
              options:{
                from: {scaleX:.4, scaleY:.4, delay:.3, ease: "Back.easeOut"},
                to:  {opacity: 1, delay:.3}
              }
            },
            isFirst:true,
  
          },
          {
            id:"d29-02.mp3",                          
            onEnd:{
              delay:100,
              audio:"d29-03.mp3",                      
             
            }
  
          },
          {
            id:"d29-03.mp3",              
            onEnd:{
              delay:100,                    
              audio:"d29-04.mp3",  
            }
          },
          {
            id:"d29-04.mp3",
            onEnd:{
              delay:100,
              audio:"d29-05.mp3"
            }
          },
          {
            id:"d29-05.mp3"
          }
     
     ];
  
  if(Audio){
    Audio.init(data);
  }
</script>