
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a class="line-w" href="feedback-antes.html">Antes</a></li>
            <li><a href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-antes">
      <p class="titulo">Recomendações antes do feedback de RDMA</p>
      <div class="col-md-4 pd-0">
        <div class="btn-green-antes occult box-1">
          <div class="circle-num">
            <p>1</p>
          </div>
          <h4><strong>Primeiro</strong>, lembre sua equipe do início do processo de revisão de meio ano e convide-os  a se agendarem, se ainda não tiverem feito. <h4>
        </div>
        <div class="btn-green-antes occult box-4">
          <div class="circle-num">
            <p>4</p>
          </div>
          <h4>Considere a possível reação do colaborador frente ao feedback e <strong>esteja preparado</strong> para conduzir a mesma da melhor forma. </h4>
        </div>
      </div>
      <div class="col-md-4 pd-0">
        <div class="btn-green-antes occult box-2">
          <div class="circle-num">
            <p>2</p>
          </div>
          <h4>Depois, assegure que o colaborador tenha <strong>atualizado o avanço </strong> dos objetivos antes da sessão no <strong> DESTACA </strong></h4>
        </div>
        <div class="btn-green-antes occult box-5">
          <div class="circle-num">
            <p>5</p>
          </div>
          <h4>Leve em conta todos os imprevistos que possam acontecer, com o objetivo de evitar <strong> reprogramar a reunião.</strong></h4>
        </div>
      </div>
      <div class="col-md-4 pd-0">
        <div class="btn-green-antes occult box-3">
          <div class="circle-num">
            <p>3</p>
          </div>
          <h4>Depois, <strong>identifique a informação relevante</strong>(objetivos e competências) e valide (fatos, casos e dados). Organize o feedback</h4>
        </div>
        <div class="btn-green-antes occult box-6">
          <div class="circle-num">
            <p>6</p>
          </div>
          <h4>Se você tiver <strong> dúvidas </strong> em relação a condução de algum tema, <strong>peçe assessoria</strong> ao seu gestor imediato e/ou RH local.</h4>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-antes.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-antes3.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var data = [
        {
          id:"d17-01.mp3",
          delay:200,            
          class:".box-1",
          options:{
            from:{scaleX:.4, scaleY:.4, delay:1.9, ease: "Back.easeOut"},
            to:{opacity: 1, delay: 1.9}
          },
          onEnd:{
              delay:200,
              audio:"d17-02.mp3",
              class:".box-2",                       
              options:{
                from:{scaleX:.4, scaleY:.4, delay:.1, ease: "Back.easeOut"},
                to: {opacity: 1, delay: .1}
              }
          },
          isFirst:true
  
       },
       {
          id:"d17-02.mp3",          
          onEnd:{
              delay:200,
              audio:"d17-03.mp3",
              class:".box-3",
              options:{
                from: {scaleX:.4, scaleY:.4, delay:.1, ease: "Back.easeOut"},
                to:{opacity: 1, delay:.1}
              }
          }
       },
       {
        id:"d17-03.mp3",          
        onEnd:{
          delay:200,
          audio:"d17-04.mp3",
          class:".box-4",
          options:{
            from:{scaleX:.4, scaleY:.4, delay:.1, ease: "Back.easeOut"},
            to:{opacity: 1, delay:.1}
          }
        }
       },
       {
        id:"d17-04.mp3",          
        onEnd:{
          delay:200,
          audio:"d17-05.mp3",
          class:".box-5",
          options:{
            from:{scaleX:.4, scaleY:.4, delay:.1, ease: "Back.easeOut"},
            to:{opacity: 1, delay:.1}
          }
        }
       },
       {
        id:"d17-05.mp3",          
        onEnd:{
          delay:200,
          audio:"d17-06.mp3",
          class:".box-6",
          options:{
            from:{scaleX:.4, scaleY:.4, delay:.1, ease: "Back.easeOut"},
            to:{opacity: 1, delay:.1}
          }
        }
  
       },
       {
        id:"d17-06.mp3",          
       }
      
  ];
  if(Audio){
    Audio.init(data);
  }
</script>