
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a class="line-w" href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="feedback-metolodogia utilizar-metolodogia">
      <div class="col-md-12">
        <div class="titulo">Metodologia para fornecer feedback</div>
        <div class="texto occult">Que metodologia podemos utilizar?</div>
        <div class="content-utilizar-metolodogia">
          <div class="col-md-4 left occult"><img src="img/3a.png" alt=""/>
            <h4>Objetivo <br>  Competência</h4>
          </div>
          <div class="col-md-4 middle occult"><img src="img/3b.png" alt=""/>
            <h4>Impacto <br> Influência</h4>
          </div>
          <div class="col-md-4 right occult"><img src="img/3c.png" alt=""/>
            <h4>Plano <br> Compromisso</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-durante.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-durante3.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var data = [
         {
           id:"d26-01.mp3",
           delay:200,
           class:".texto",
           options:{
             from:{y:"30px", delay:.5},
             to: {opacity: 1, delay:.5}
           },
           onEnd:{
             delay:600,
             audio:"d26-02.mp3",
             class:".left",
             options:{
               from: {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
               to:  {opacity: 1, delay:.5}
             }
           },
           isFirst:true,
  
         },
         {
           id:"d26-02.mp3",
           onEnd:{
             delay:600,
             audio:"d26-03.mp3",
             class:".middle",
             options:{
               from:{scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
               to:{opacity: 1, delay:.5}
             }
           }
  
         },
         {
           id:"d26-03.mp3",
           onEnd:{
             delay:600,
             audio:"d26-04.mp3",
             class:".right",
             options:{
               from: {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
               to:{opacity: 1, delay:.5}
             }
  
           }
         },
         {
           id:"d26-04.mp3"
         },
        
        ];
  
  
   if(Audio){
     Audio.init(data);
   }
</script>