
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a class="line-w" href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-feedback">
      <p class="titulo">Exercício de Aprendizagem</p>
      <h4>Relaciona cada caraterística com a sua descrição.</h4>
      <div class="ejercicios-aprendizaje">
        <div class="row">
          <div class="col-md-3 pd-3 tl_block1 occult" style="z-index:10;">
            <div class="valid-message">
              <div class="good" style="display:none;">Muito Bem! <br/><a class="yellowButton" href="feedback-antes.html" style="margin-top:15px;">Continuar</a></div>
              <div class="bad" style="display:none;"> Tente novamente <br/><a class="yellowButton" href="feedback-taller5.html" style="margin-top:15px;">Tente novamente</a></div>
            </div>
            <div class="col-md-12 padd dropped" id="co">
              <div class="btn-green">
                <h4>À medida</h4>
              </div>
            </div>
            <div class="col-md-12 padd dropped" id="cpo">
              <div class="btn-green">
                <h4>É claro</h4>
              </div>
            </div>
            <div class="col-md-12 padd dropped" id="desc">
              <div class="btn-green">
                <h4>Se registra</h4>
              </div>
            </div>
            <div class="col-md-12 padd dropped" id="det">
              <div class="btn-green">
                <h4>É construtivo </h4>
              </div>
            </div>
            <div class="col-md-12 padd dropped" id="dett">
              <div class="btn-green">
                <h4>É oportuno </h4>
              </div>
            </div>
            <div class="col-md-12 padd dropped" id="dettt">
              <div class="btn-green">
                <h4>É coerente</h4>
              </div>
            </div>
          </div>
          <div class="col-md-3 tl_block2 occult">
            <div class="col-md-12 padd">
              <div id="wrap1"><img src="img/ap_droppe.png" alt=""/></div>
            </div>
            <div class="col-md-12 padd">
              <div id="wrap2"><img src="img/ap_droppe.png" alt=""/></div>
            </div>
            <div class="col-md-12 padd">
              <div id="wrap3"><img src="img/ap_droppe.png" alt=""/></div>
            </div>
            <div class="col-md-12 padd">
              <div id="wrap4"><img src="img/ap_droppe.png" alt=""/></div>
            </div>
            <div class="col-md-12 padd">
              <div id="wrap5"><img src="img/ap_droppe.png" alt=""/></div>
            </div>
            <div class="col-md-12 padd">
              <div id="wrap6"><img src="img/ap_droppe.png" alt=""/></div>
            </div>
          </div>
          <div class="col-md-6 tl_block3 col-right pd-0 occult">
            <div class="item-ejercicios">
              <p>Os comportamentos se baseiam em fatos e não <br> em suposições.</p>
            </div>
            <div class="item-ejercicios-g">
              <p>Com o propósito de rever os planos e <br> ações definitivas.</p>
            </div>
            <div class="item-ejercicios">
              <p>Na medida , porque são feitas de acordo com <br> o colaborador que recebe o feedback.</p>
            </div>
            <div class="item-ejercicios-g">
              <p>Está alinhada ao que se espera do colaborador <br> e  as evidências do seu comportamento.</p>
            </div>
            <div class="item-ejercicios">
              <p>Deve estar focada em motivar e desenvolver <br>  o colaborador.</p>
            </div>
            <div class="item-ejercicios-g">
              <p>Deve acontecer o mais cedo possível depois <br> de um evento.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-taller4.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r notClicked" href="#" role="button" disabled="disabled" id="nextPage">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script src="js/ultimo.js"></script>
<script type="text/javascript">
  var data = [
              {
                id:"d15.mp3",
                isFirst:true,
                delay:1500
              }
             ];
  
  if(Audio){
    Audio.init(data);
  }
</script>