
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="index.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a href="feedback-durante.html">Durante</a></li>
            <li><a class="line-w" href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="intro-feedback bg-feedback10">
      <div class="recuadro-frase2 occult">
        <p>“Muitas pessoas lembram situações nas quais receberam um feedback negativo e se sentiram afetadas. Mas também lembram as palavras de feedback honesto e construtivo que influenciaram o seu sucesso.”</p>
        <h4>Artículo de Jack Zenger y Joseph Folkman</h4>
        <h5 class="texto">Harvard Business Review – Dic. 2013</h5>
      </div>
      <div class="row-intro-feedback l-328">
        <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-despues5.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="ejercicios.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
      </div>
      <div class="footer">
        <p>Alicorp 2017 © Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var data = [{ 
                id:"d39.mp3",
                delay:800,          
                class:".recuadro-frase2",
                options:{
                  from:{y:"20px", delay:.5},
                  to:{opacity: 1, delay:.5}
                },
                isFirst:true
            }];
  
  if(Audio){
    Audio.init(data);
  }
</script>