
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a class="line-w" href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="feedback-metolodogia">
      <div class="col-md-12">
        <div class="titulo">Metodologías y herramientas CPE - Alicorp</div>
        <div class="texto occult">En la etapa de Planificación utilizamos las siguientes metodologías para la<br> definición de objetivos y plan de desarrollo.</div>
        <div class="content-metolodogia">
          <div class="col-md-6 left occult">
            <div class="metolodogia-left">
              <h4>Metodología SMART</h4>
              <p>Para la definición de objetivos.</p><br><img src="img/durante1.jpg" alt=""/>
            </div>
          </div>
          <div class="col-md-6 right occult">
            <div class="metolodogia-left">
              <h4>Metodología 70:20:10</h4>
              <p>Para la definición del plan de desarrollo de competencias</p><img class="mrg-5" src="img/durante2.jpg" alt=""/>
            </div>
          </div>
        </div>
      </div>
      <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-durante.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-durante2.html" role="button">SEGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
      <footer>
        <p>Alicorp 2017 © Todos os direitos reservados.</p>
      </footer>
    </div>
  </div>
  <script type="text/javascript">
    if (!($(".lt-ie9").length)) {
    
        TweenLite.to(".texto", 1, {opacity: 1, delay:.5});
        TweenLite.from(".texto", 1, {y:"30px", delay:.5});
    
        TweenLite.from(".left", 1, {scaleX:.4, scaleY:.4, delay:1., ease: "Back.easeOut"});
        TweenLite.to(".left", 1, {opacity: 1, delay:1.});
    
        TweenLite.from(".right", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
        TweenLite.to(".right", 1, {opacity: 1, delay:1.5});
    
    
    }
  </script>
</div>