
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a class="line-w" href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="elige-a durante8">
      <div class="col-md-12 content">
        <div class="col-md-3 col-left-elige">
          <div class="p-elige">Escolha a opção que corresponda a cada frase </div>
        </div>
        <div class="col-md-9 col-right-elige">
          <p>•Com relação ao objetivo...e a iniciativa...tenho visto a informação...</p>
          <div class="content-btn"><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="1">Clareza</a><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="2">Análise</a><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="3">Ação</a></div>
          <p>•Há um mês, na reunião com...você agiu de forma...e você mostrou...</p>
          <div class="content-btn"><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="4">Clareza</a><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="5">Análise</a><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="6">Ação</a></div>
          <p>•Me fala das razões, das ações ou dos comportamentos mostrados...</p>
          <div class="content-btn"><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="7">Clareza</a><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="8">Análise</a><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="9">Ação</a></div>
          <p>•O impacto dessas ações foi...</p>
          <div class="content-btn"><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="10">Clareza</a><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="11">Análise</a><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="12">Ação</a></div>
          <P>•Me diz como você acha que trataria este desafio...</P>
          <div class="content-btn"><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="13">Clareza</a><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="14">Análise</a><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="15">Ação</a></div>
          <P>•A partir de agora podemos fazer...</P>
          <div class="content-btn"><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="16">Clareza</a><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="17">Análise</a><a class="btn btn-primary green-btn notClicked" href="#" role="button" data-value="18">Ação</a></div>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary green-btn button-crema-g btn-l" href="feedback-durante7.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary green-btn button-crema-g btn-r notClicked" href="#" role="button" disabled="disabled">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var data = [{
                id:"d32.mp3",                  
                delay:600,                  
                isFirst:true,
            }];
  
  if(Audio){
     Audio.init(data);
  }
</script>