
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a class="line-w" href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="algunas-frase">
      <div class="col-md-12 content">
        <div class="col-md-4 col-left-frase"><img class="left occult" src="img/3a.png" alt=""/>
          <h4 class="left occult">Objetivo <br> Competência </h4>
        </div>
        <div class="col-md-8 col-right-frase">
          <div class="titulo">Algumas frases que você pode usar: </div>
          <img class="img-center occult" src="img/iconos/3a.png" alt=""/>
          <div class="row aclara occult">
            <div class="col-md-6">
              <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt=""/>
                <p>Há um mês, na reunião <br> com...você agiu de forma...e <br> você mostrou...</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt=""/>
                <p>Com relação ao objetivo...e<br> a iniciativa...vejo a<br> informação...</p>
              </div>
            </div>
          </div>
          <div class="row aclara occult">
            <div class="col-md-6">
              <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt=""/>
                <p>Você tem visto a  competência <br> no  momento...e da forma...</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt=""/>
                <p>Vamos falar sobre...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-durante2.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-durante4.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var data = [
             {
               id:"d27-01.mp3",                
               class:".left",     
               options:{
                 to:{opacity: 1, delay:.5},
                 from: {marginLeft: "-150px", delay:.5}
               },          
               delay:200,
               whitChild:[{
                   class:".img-center",
                   options:{
                     from:{y:"30px", delay:1.},
                     to:{opacity: 1, delay:1.}
                   }
  
               }],
               onEnd:{
                 delay:100,
                 audio:"d27-02.mp3",
                 class:".aclara",                
                 options:{
                   from: {scaleX:.4, scaleY:.4, delay:.3, ease: "Back.easeOut"},
                   to:  {opacity: 1, delay:.3}
                 }
               },
               isFirst:true,
  
             },
             {
               id:"d27-02.mp3",
               onEnd:{
                 delay:100,
                 audio:"d27-03.mp3",                      
                
               }
  
             },
             {
               id:"d27-03.mp3",
               onEnd:{
                 delay:100,                    
                 audio:"d27-04.mp3",  
               }
             },
             {
               id:"d27-04.mp3",
               onEnd:{
                 delay:100,
                 audio:"d27-05.mp3"
               }
             },
             {
               id:"d27-05.mp3",
             }
            
            ];
  
  
   if(Audio){
     Audio.init(data);
   }
</script>