
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a class="line-w" href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="etapas">
      <div class="etapas-intro pd-taller">
        <div class="col-md-6">
          <p class="sub-titulo c-green">Etapa 2</p>
          <div class="recuadro-procesos bg-green occult">
            <p>Revisão de Meio ano</p>
          </div>
          <div class="iconos-1"><img class="i-one occult" src="img/iconos/line-1.png" alt=""/><img class="i-two occult" src="img/iconos/c-green.png" alt=""/></div>
        </div>
        <div class="col-md-6 pd-0">
          <p class="etapa occult">É o momento formal para <br> <strong>revisar o progresso de nossos objetivos e o desenvolvimento das nossas competências,</strong> através do feedback, <br>  para assegurar o sucesso de nosso desempenho neste ano.</p>
        </div>
      </div>
      <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-taller.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-taller2.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    </div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
   var data = [ {
                id :"d10.mp3",
                class:".recuadro-procesos",
                delay:600,
                options:{
                  to : { opacity: 1, delay:.2 },
                  from : { y:"50px", delay:.4 }
                },
                isFirst:true,
                whitChild:[
                             { 
                               class:".i-one",
                               options:{
                                 to : {opacity: 1, delay:.9},
                                 from : {y:"50px", delay:.9}
                               }
                             },
                             {
                               class:".i-two",
                               options:{
                                 to: {opacity: 1, delay: 1.2},
                                 from:{y:"20px", delay: 1.2}
                               }
                             },
                             {
                               class: ".etapa",
                               options:{
                                 to:  {opacity: 1, delay: 1.6},
                                 from: {y:"50px", delay: 1.6}
                               }
                             }
                            
                          ]
                          
            }];
  
  if (Audio) {
     Audio.init(data);
  }
</script>