
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="index.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a class="line-w" href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="utilizo-metodologia">
      <div class="col-md-12">
        <div class="titulo">Como uso a metodologia para</div>
        <h4>um feedback de reconhecimento?</h4>
        <h3>Exemplo:</h3>

        <div class="seccion-video" id="containerVideo" style="background:white !important;">
          <video class="video-item" width="750" height="320" src="./media/video_2.mp4" id="video_2.mp4" controls="true"></video>
        </div>
      </div>
      <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-durante6.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-durante8.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    </div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var containerVideo = document.getElementById("containerVideo");
  var audio = document.getElementById("d31.mp3");
  var video = document.getElementById("video_2.mp4");
​

  
      video.addEventListener("play",function(){
        audio.pause();
      },false);
      
      audio.onended = function(){
        setTimeout(function(){
          playVideo();
        },200);
      };
  
  
  
   function playVideo(){
        setTimeout(function(){
          video.play();
        },200);
    }
  
  jQuery(document).ready(function(){
    setTimeout(function(){
      audio.play();
    },200);
  });
</script>