
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="index.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a href="feedback-durante.html">Durante</a></li>
            <li><a class="line-w" href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="intro-despues">
      <div class="titulo">Como saber com que frequência das o feedback? <br> Identificamos os 3 seguintes níveis:</div>
      <div class="banderines">
        <div class="col-md-4 left occult"><img src="img/banderin-1.png" alt=""/>
          <h4> Casos com alta <strong> necessidade </strong></h4>
        </div>
        <div class="col-md-4 pl-0 middle occult"><img src="img/banderin-2.png" alt=""/>
          <h4>Casos com <strong> Necessidade mediana </strong> </h4>
        </div>
        <div class="col-md-4 right occult"><img src="img/banderin-3.png" alt=""/>
          <h4>Casos com <strong> baixa necessidade </strong> </h4>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-despues.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-despues2.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var data = [{
          id:"d34-01.mp3", 
          onEnd:{
              delay:400,
              audio:"d34-02.mp3",
              class:".left",
              options:{
                from:{scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
                to:{opacity: 1, delay:.5}
              }
          },
          isFirst:true
        },
        {
          id:"d34-02.mp3",
          onEnd:{
              delay:400,
              audio:"d34-03.mp3",
              class:".middle",
              options:{
                from:{scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
                to:{opacity: 1, delay:.5}
              }
          }
  
        },
        {
          id:"d34-03.mp3",
          onEnd:{
              delay:400,
              audio:"d34-04.mp3",
              class:".right",
              options:{
                from:{scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
                to:{opacity: 1, delay:.5}
              }
          }
        },
        {
          id:"d34-04.mp3",
        }
    ];
  
  if(Audio){
      Audio.init(data);
  }
</script>