
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="index.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a class="line-w" href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="valt-feedback">
      <p class="titulo">2 tipos de feedback</p>
      <div class="row">
        <div class="tipo-2"><img class="occult one" src="img/circulo-n.png" alt=""/><img class="c-left occult two" src="img/c-left.png" alt=""/><img class="c-right occult four" src="img/c-right.png" alt=""/><img class="tri-l occult" src="img/rr.png" alt=""/><img class="tri-t occult" src="img/ll.png" alt=""/><img class="tri-r occult" src="img/rr2.png" alt=""/><img class="tri-b occult" src="img/bb2.png" alt=""/></div><img class="c-top occult three" src="img/c-top.png" alt="" style="position: absolute;bottom: 135px;left: 80px;"/><img class="c-bottom occult five" src="img/c-bottom.png" alt="" style="position: absolute;bottom: 150px;right: 100px;"/>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-taller3.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-taller4.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var data = [
         {
           id:"d13-01.mp3",
           delay:200,
           class:".one",
             options:{
                to:{opacity: 1, delay: .5},
                 from:{scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"}
           },                 
           onEnd:{
             audio:"d13-02.mp3",
             delay:200,
             class:".two",
             options:{
               from:{scaleX:.4, scaleY:.4, delay:1., ease: "Back.easeOut"},
               to:{opacity: 1, delay:1.}
             },
             whitChild:[ {
                           class:".tri-l",
                           options:{
                             from: {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"},
                             to:{opacity: 1, delay:1.5}
                           }
                         },
                         {
                           class:".tri-t",
                           options:{
                             from: {scaleX:.4, scaleY:.4, delay:4.5, ease: "Back.easeOut"},
                             to:{opacity: 1, delay:4.5}
                           }
                         }
                     ],
           },
           isFirst:true,
         },
         {
           id:"d13-02.mp3",                  
           onEnd:{                    
             audio:"d13-03.mp3",
             delay:400,
             class:".three",
             options:{
               from: {scaleX:.4, scaleY:.4, delay:3, ease: "Back.easeOut"},                      
               to:{opacity: 1, delay:3}
             }
           
             
           }
  
         },
         {
           id:"d13-03.mp3",               
           onEnd:{
             audio:"d13-04.mp3",
             delay:200,
  
             
           }
         },
         {
           id:"d13-04.mp3",                
           onEnd:{
             
             audio:"d13-05.mp3",
             delay:200,
             class:".four",
             options:{
               from:{scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
               to:{opacity: 1, delay:.5}
             },
             whitChild:[{
                         class:".tri-r",
                         options:{
                           from:{scaleX:.4, scaleY:.4, delay:1., ease: "Back.easeOut"},
                           to:{opacity: 1, delay:1.}
                         }
                        },
                        {
                         class:".tri-b",
                         options:{
                           from : {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"},
                           to : {opacity: 1, delay:2.}
                         }
                        },
                        {
                          class:".five",
                           options:{
                             to:{opacity: 1, delay:2.8},
                             from:{scaleX:.4, scaleY:.4, delay:2.8, ease: "Back.easeOut"}
                           }
                         }
                        ]
  
           }
         },
         {
           id:"d13-05.mp3"
         }
  
         ];
  
   if(Audio){
     Audio.init(data);
   }
</script>