
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a class="line-w" href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
      <div class="content-habilidades">
        <div class="text-habilidades"><img class="h-left" src="img/iconos/icon-orange.png" alt=""/>
          <h2 class="box-letra c-orange">Resposta errada

            <h3 class="box-letra">Tente novamente</h3>
          </h2>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-durante8.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r notClicked" href="#" role="button" disabled="disabled">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>