
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a class="line-w" href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="valt-feedback">
      <p class="titulo">Como deve ser o feedback? </p>
      <div class="como-feed">
        <div class="col-md-6 col-left">
          <div class="row">
            <div class="col-md-6 pd-11">
              <div class="btn-feed-green bg-gr occult one">
                <div class="text-val"><img src="img/c-1.png" alt=""/>
                  <h4>A medida</h4>
                  <p><strong>Realizadas de acordo </strong><br> com o colaborador que recebe o feedback. </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="btn-feed-green1 bg-gcl occult two">
                <div class="text-val"><img src="img/c-2.png" alt=""/>
                  <h4>Claras,</h4>
                  <p>Baseadas em comportamentos <strong>e evidências <br>  e não em suposições.</strong></p> 
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 text-right pd-11"><img class="mg-18" src="img/l-11.png" alt=""/></div>
            <div class="col-md-6">
              <div class="btn-feed-green bg-gcla occult three">
                <div class="text-val"><img src="img/c-5.png" alt=""/>
                  <h4>É construtiva</h4>
                  <p>Deve estar  <strong> orientada <br> motivar e desenvolver <br></strong> o colaborador</p>
                </div>
              </div>
            </div>
          </div><img class="centro-img" src="img/f-1.png" alt=""/>
        </div>
        <div class="col-md-6 col-right">
          <div class="row">
            <div class="col-md-6 pd-11">
              <div class="btn-feed-green bg-gcl occult four">
                <div class="text-val"><img src="img/c-3.png" alt=""/>
                  <h4>Oportuno</h4>
                  <p>Deve acontecer <strong> O <br> mais rápido possível, </strong> logo após o evento</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="btn-feed-green1 bg-gr occult five">
                <div class="text-val"><img src="img/c-4.png" alt=""/>
                  <h4>Registro</h4>
                  <p>Deve ser registrada com a finalidade de <strong>repassar</strong><br> os planos e ações definidas.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pd-11">
              <div class="btn-feed-green1 bg-gcla occult six">
                <div class="text-val"><img src="img/c-6.png" alt=""/>
                  <h4>É coerente</h4>
                  <p><strong>Deve estar  alinhada ao que se <br> espera do colaborador</strong> e <br> as evidências do seu comportamento.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6"><img class="float-l" src="img/r-11.png" alt=""/>
              <div class="img-descarga"><a class="notClicked" href="pdf/Como deve ser o feedback.pdf" download=""><img src="img/descarga.png" alt=""/></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-taller3b.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-taller5.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
      var data = [
  
              {
                id:"d14-01.mp3",
                delay:500,
                isFirst:true,
                onEnd:{
                  delay:600,
                  audio:"d14-02.mp3", 
                }
              },
              {
                id:"d14-02.mp3",
                onEnd:{
                  delay:300,
                  audio:"d14-03.mp3",
                  class:".one",
                  options:{
                    from:{scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
                    to:{opacity: 1, delay: .5}
                  }
  
                }
              },
              {
                id:"d14-03.mp3",
                onEnd:{
                  delay:200,
                  audio:"d14-04.mp3",
                  class:".two",
                  options:{
                    from:{scaleX:.4, scaleY:.4, delay:.2, ease: "Back.easeOut"},
                    to: {opacity: 1, delay:.2}
                  }
                }
              },
              {
                id:"d14-04.mp3",
                onEnd:{
                  delay:200,
                  audio:"d14-07.mp3",
                  class:".three",
                  options:{
                    from: {scaleX:.4, scaleY:.4, delay:.2, ease: "Back.easeOut"},
                    to:{opacity: 1, delay:.2}
                  }
                }
              },
              {
                id:"d14-07.mp3",                  
                onEnd:{
                  delay:200,
                  audio:"d14-05.mp3",
                  class:".four",
                  options:{
                    from : {scaleX:.4, scaleY:.4, delay:.2, ease: "Back.easeOut"},
                    to : {opacity: 1, delay:.2}
                  }                    
                }
              },
              {
                id:"d14-05.mp3",
                onEnd:{
                  delay:200,
                  audio:"d14-06.mp3",
                  class:".five",
                  options:{
                    from:{scaleX:.4, scaleY:.4, delay:.2, ease: "Back.easeOut"},
                    to:{opacity: 1, delay:.2}
                  }
  
                }
  
              },
              {
                id:"d14-06.mp3",
                onEnd:{
                  delay:100,
                  audio:"d14-08.mp3",
                  class:".six",
                  options:{
                    to:{opacity: 1, delay:.2},
                    from:{scaleX:.4, scaleY:.4, delay:.2, ease: "Back.easeOut"}
                  }
                }
              },
              {
                id:"d14-08.mp3",                  
              }
  
              ];
  
  if( Audio ){
    Audio.init(data);
  }
</script>