
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="feedback-taller.html">Inicio</a></li>
            <li><a class="line-w" href="feedback-antes.html">Antes</a></li>
            <li><a href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="feedback-video">
      <div class="col-md-12">
        <p class="titulo"> Estados Emocionais </p>
        <p class="texto">Por isso, como gestor, você estará diante de diferentes estados emocionais durante esse processo:</p>

        <div class="seccion-video" id="containerVideo" style="background:white !important;">
          <video class="video-item" width="750" height="320" src="./media/estados_emocionais.mp4" id="estados_emocionais.mp4" controls="true"></video>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-antes4.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-antes6.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
    var containerVideo = document.getElementById("containerVideo");
    var audio = document.getElementById("d20.mp3");
    var video = document.getElementById("estados_emocionais.mp4");
  
    video.addEventListener("play",function(){
      audio.pause();
    },false);
          
    audio.onended = function(){
      setTimeout(function(){
        playVideo();
      },200);
    };
   
  function playVideo(){
      setTimeout(function(){
        video.play();
      },200);
  }
  
  jQuery(document).ready(function(){
      setTimeout(function(){
        audio.play();
      },200);
  });
</script>