
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
        <li><a href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a class="line-w" href="feedback-taller.html">Inicio</a></li>
            <li><a href="feedback-antes.html">Antes</a></li>
            <li><a href="feedback-durante.html">Durante</a></li>
            <li><a href="feedback-despues.html">Depois</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="p-revison">
      <div class="colp-left">
        <div class="titulo">Processo de Revisão Meio de ano</div>
        <h5>Este processo tem 3 momentos:</h5>
      </div>
      <div class="colp-right">
        <div class="col-md-4 pdr-0 text-right">
          <p>Responsáveis:</p>
        </div>
        <div class="col-md-4 pd-0 pd-20">
          <div class="bg-green btn-p">
            <h3>Colaborador</h3>
          </div>
          <div class="bg-red btn-p">
            <h3>Gestor</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-yellow btn-p">
            <h3>Colaborador e <br> Gestor</h3>
          </div>
          <div class="bg-"></div>
        </div>
      </div>
      <div class="box-revision">
        <div class="row-p1">
          <div class="categoria"><strong> Antes </strong><br> do feedback </div>
          <div class="circle occult">
            <h3>Inicio</h3>
          </div>
          <div class="btn-revision bg-green btnp-1 occult">
            <p>Acesse ‘avanços’ em DESTACA</p>
            <div class="flecha-btn">
              <div class="line line-green1"></div><span class="c-green flecha-l glyphicon glyphicon-menu-right"></span>
              <div class="line"></div>
            </div>
          </div>
          <div class="btn-revision bg-green btnp-2 occult">
            <p>Agende a reunião com seu  gestor direto </p>
            <div class="flecha-btn">
              <div class="line line-green1"></div><span class="c-green flecha-l glyphicon glyphicon-menu-right"></span>
              <div class="line"></div>
            </div>
          </div>
          <div class="btn-revision bg-red btnp-3 occult">
            <p> Revise as informações  registradas no DESTACA</p>
            <div class="flecha-btn">
              <div class="line line-red1"></div><span class="c-red flecha-l glyphicon glyphicon-menu-right"></span>
              <div class="line"></div>
            </div>
          </div>
          <div class="btn-revision bg-red btnp-4 occult">
            <p>Aceite a reunião na agenda</p>
            <div class="flecha-btn">
              <div class="line line-red1"></div><span class="c-red flecha-l glyphicon glyphicon-menu-right"></span>
              <div class="line"></div>
            </div>
          </div>
          <div class="bg-red btnp-5 occult">
            <p> Faça uma reunião de alinhamento com o gestor da Matriz (se for o caso)</p>
            <div class="flecha-btn">
              <div class="line line-red1"></div><span class="c-red flecha-l glyphicon glyphicon-menu-right"></span>
              <div class="line"></div>
            </div>
          </div>
          <div class="btn-revision2 bg-red btnp-6 occult">
            <p>Prepare-se para fornecer um feedback claro e poderoso </p>
          </div>
          <div class="line-red occult"><span class="fecha-l glyphicon glyphicon-menu-down"></span></div>
        </div>
        <div class="row-p2">
          <div class="categoria"><strong>Durante </strong><br> o feedback</div>
          <div class="btn-revision2 bg-yellow btnpro-7 btnp-7 occult">
            <p>Revisem os avanços dos objetivos e competências</p>
            <div class="flecha-btn">
              <div class="line line-yellow1"></div><span class="c-yellow flecha-l glyphicon glyphicon-menu-right"></span>
              <div class="line"></div>
            </div>
          </div>
          <div class="btn-revision2 bg-yellow btnpro-8 btnp-8 occult">
            <p>Falem sobre o feedback e gerem compromissos </p>
            <div class="flecha-btn">
              <div class="line line-yellow1"></div><span class="c-yellow flecha-l glyphicon glyphicon-menu-right"></span>
              <div class="line"></div>
            </div>
          </div>
          <div class="btn-revision2 bg-yellow btnpro-8b btnp-8b occult">
            <p>Definam as próximas datas de revisão</p>
            <div class="flecha-btn">
              <div class="line line-yellow1"></div><span class="c-yellow flecha-l glyphicon glyphicon-menu-right"></span>
              <div class="line"></div>
            </div>
          </div>
          <div class="btn-revision2 bg-red btnpro-9a btnp-9a occult">
            <p>Enviar o formulário ao colaborador para validar os comentários</p>
          </div>
          <div class="line-yellow occult"><span class="fecha-l glyphicon glyphicon-menu-down"></span></div>
        </div>
        <div class="row-p3">
          <div class="categoria"><strong>Depois </strong><br> do feedback</div>
          <div class="img-descarga"><a class="notClicked" href="pdf/Processo de Revisão de Meio de ano.pdf" download=""><img src="img/descarga.png" alt="" style="width: 60%;" /></a></div>
          <div class="btn-revision2 bg-green btnpro-7 btnp-10 occult">
            <p>Acesse o DESTACA e preencha os acordos; Em seguida. envie ao seu gestor</p>
            <div class="flecha-btn">
              <div class="line line-green1"></div><span class="c-green flecha-l glyphicon glyphicon-menu-right"></span>
              <div class="line"></div>
            </div>
          </div>
          <div class="btn-revision2 bg-red btnpro-8 btnp-11 occult">
            <p>Acesse o DESTACA  e assine para finalizar </p>
            <div class="flecha-btn">
              <div class="line line-red1"></div><span class="c-red flecha-l glyphicon glyphicon-menu-right"></span>
              <div class="line"></div>
            </div>
          </div>
          <div class="btn-revision2 bg-green btnpro-9 btnp-12 occult">
            <p>Receba a  avaliação pós sessão e  e a responda</p>
          </div>
          <div class="circle2 occult">
            <h3>Final</h3>
          </div>
        </div>
      </div>
      <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-taller1.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-taller3.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    </div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
         var data = [
                    {
                       id :"d11-01.mp3",
                       isFirst: true,
                       delay:400,
                       onEnd:{
                         audio:"d11-02.mp3",
                         class:".circle",
                         delay:1200,
                         time:4,
                         options:{
                                  to: {opacity: 1, delay : .1},
                                  from: {scaleX:.4, scaleY:.4, delay:.4, ease: "Back.easeOut"}
                         },
                         whitChild:[
                           {
                              class:".btnp-1",
                              options:{
                                to:{opacity: 1, delay:1.},
                                from:{y:"20px", delay:1.}
                              }
                            },
                            {
                              class:".btnp-2",
                              options:{
                                to:{opacity: 1, delay:1.3},
                                from:{y:"20px", delay:1.3}
                              }
                            },
                            {
                              class:".btnp-3",
                              options:{
                                to:{opacity: 1, delay:1.5},
                                from:{y:"20px", delay:1.5}
                              }
                            },
                             {
                              class:".btnp-4",
                              options:{
                                to:{opacity: 1, delay:1.7},
                                from:{y:"20px", delay:1.7}
                              }
                            },
                             {
                              class:".btnp-5",
                              options:{
                                to:{opacity: 1, delay:1.9},
                                from:{y:"20px", delay:1.9}
                              }
                            },
                             {
                              class:".btnp-6",
                              options:{
                                to:{opacity: 1, delay:2.},
                                from:{y:"20px", delay:2.}
                              }
                            },
                            {
                             class:".line-red",                         
                              options:{
                                  to: {opacity: 1, delay: 2.2},
                                  from: {y:"20px", delay: 2.2}
                                }
                            },
                              {
                            class:".btnp-7",
                            options:{
                              to:{opacity: 1, delay:2.4},
                              from:{y:"20px", delay:2.4}
                            }
                          },
                          {
                            class:".btnp-8",
                            options:{
                              to:{opacity: 1, delay:2.6},
                              from:{y:"20px", delay:2.6}
                            }
                          },
                          {
                            class:".btnp-8b",
                            options:{
                              to:{opacity: 1, delay:2.8},
                              from:{y:"20px", delay:2.8}
                            }
                          },
                          {
                            class:".btnp-9a",
                            options:{
                              to:{opacity: 1, delay:3.},
                              from:{y:"20px", delay:3.}
                            }
                          },
                           {
                            class:".btnp-9",
                            options:{
                              to:{opacity: 1, delay:3.2},
                              from:{y:"20px", delay:3.2}
                            }
                          },
                          {  
                              class:".line-yellow",
                              options:{
                                to: {opacity: 1, delay: 3.4},
                                from: {y:"20px", delay: 3.4}
                              }
                           },
                           {
                              class:".btnp-10",
                              options:{
                                to:{opacity: 1, delay:3.6},
                                from:{y:"20px", delay:3.6}
                              }
                            },
                            {
                              class:".btnp-11",
                              options:{
                                to:{opacity: 1, delay:3.7},
                                from:{y:"20px", delay:3.7}
                              }
                            },
                            {
                              class:".btnp-12",
                              options:{
                                to:{opacity: 1, delay:3.8},
                                from:{y:"20px", delay:3.8}
                              }
                            },
                             {
                              class:".circle2",
                              options:{
                                to:{opacity: 1, delay:3.9},
                                from:{y:"20px", delay:3.9}
                              }
                            },
                      ]
  
                       },
  
                    },
  
                    {
                      id: "d11-02.mp3",
                      class:".circle",
                      onEnd:{
                           audio:"d11-03.mp3",
                      }
                    },
                    {
                      id:"d11-03.mp3",                      
                      onEnd:{
                          audio:"d11-04.mp3",
                      
                      }
                    },
                    {
                      id:"d11-04.mp3",
                      isLast:true,
                    }
  
               ];
  
  if(Audio){
    Audio.init(data);
  }
</script>