
<div class="align-container">
  <div class="container bg-home">
    <div class="content-home">
      <p>Curso de  Revisión de  <span>  Medio Año - CPE</span><a class="btn btn-primary button-red" href="#">Gestión del Desempeño</a><a class="btn btn-primary button-crema" href="introduccion.html" role="button">RDMA span.glyphicon.glyphicon-menu-right</a></p>
    </div>
  </div>
  <script type="text/javascript">
    var data = [
             {
               id :"d02.mp3",
               delay : 200,
               isFirst: true  
            }
            
          ];
    
    if(Audio){
        Audio.init(data);
    }
  </script>
</div>