
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu c-red menu--active" href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="index.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="objetivos">
      <div class="objetivos-intro">
        <p class="sub-titulo c-red">Etapa 1</p>
        <div class="recuadro-objetivo bg-red">
          <p>Planejamento</p>
        </div>
        <div class="btn-display bg-red">
          <h4>Objetivos do ano</h4>
        </div>
        <div class="mapa-objetivo">
          <div class="box-1 one-1 occult">
            <p>Início da <span> seleçãol </span></p>
          </div>
          <div class="flecha-1 one occult one-1 occult">
            <div class="line"></div><span class="fecha-l glyphicon glyphicon-menu-down"></span>
          </div>
          <div class="flecha-2 two occult"><span class="fecha-l glyphicon glyphicon-menu-up"></span>
            <div class="line"></div><span class="circle-cruz"></span>
          </div>
          <div class="box-g box-2 two-2 occult">
            <h4>Objetivos <br><strong>Vice-presidente</strong></h4>
          </div>
          <div class="content-flecha-right">
            <div class="flecha-1 flecha-two occult">
              <div class="line"></div><span class="fecha-l glyphicon glyphicon-menu-right"></span>
            </div>
            <div class="flecha-2 flecha-one occult"><span class="fecha-l glyphicon glyphicon-menu-left"></span>
              <div class="line"></div><span class="circle-cruz"></span>
            </div>
          </div>
          <div class="box-3 box-texto two-2 occult">
            <h4>ALTA DIREÇÃO </h4>
          </div>
          <div class="box-g box-4 occult">
            <h4>Objetivos <br><strong> Managing Directores </strong></h4>
          </div>
          <div class="content-flecha left1">
            <div class="flecha-1 occult flecha-tres">
              <div class="line"></div><span class="fecha-l glyphicon glyphicon-menu-down"></span>
            </div>
            <div class="flecha-2 occult flecha-cuatro"><span class="fecha-l glyphicon glyphicon-menu-up"></span>
              <div class="line"></div><span class="circle-cruz"></span>
            </div>
          </div>
          <div class="box-g box-5 occult">
            <h4>Objetivos <br><strong> Managing Directores </strong></h4>
          </div>
          <!--div class="texto-1 box-texto duo2 occult">
            <h4>EJECUTIVOS</h4>
          </div-->
          <div class="content-flecha left2">
            <div class="flecha-1 occult flecha-five">
              <div class="line"></div><span class="fecha-l glyphicon glyphicon-menu-down"></span>
            </div>
            <div class="flecha-2 occult flecha-six"><span class="fecha-l glyphicon glyphicon-menu-up"></span>
              <div class="line"></div><span class="circle-cruz"></span>
            </div>
          </div>
          <div class="box-g box-6 duo2 occult">
            <h4>Objetivos <br><strong> Director </strong></h4>
          </div>
          <div class="rectangulo occult"><span class="fecha-l glyphicon glyphicon-menu-left"></span><span class="circle-cruz1"></span></div>
          <div class="rectangulo-2 occult"><span class="fecha-l glyphicon glyphicon-menu-right"></span></div>
          <div class="box-g box-7 occult">
            <h4>Objetivos <br><strong> Mando Médio Senoir </strong></h4>
          </div>
          <div class="content-flecha left3">
            <div class="flecha-1 occult flecha-seven">
              <div class="line"></div><span class="fecha-l glyphicon glyphicon-menu-down"></span>
            </div>
            <div class="flecha-2 occult flecha-eight"><span class="fecha-l glyphicon glyphicon-menu-up"></span>
              <div class="line"></div><span class="circle-cruz"></span>
            </div>
          </div>
          <div class="box-g box-8 occult eight">
            <h4>Objetivos <br><strong> Mando Médio</strong></h4>
          </div>
          <div class="texto-2 box-texto occult occult eight">
            <h4>MANDOS MEDIOS</h4>
          </div>
          <div class="rectangulo-3 occult"><span class="fecha-l glyphicon glyphicon-menu-left"></span><span class="circle-cruz4"></span></div>
          <div class="rectangulo-4 occult"><span class="fecha-l glyphicon glyphicon-menu-right"></span></div>
          <div class="box-g box-9 occult">
            <h4>Objetivos <br><strong> C.Individual Sr.</strong></h4>
          </div>
          <div class="content-flecha left4">
            <div class="flecha-1 occult flecha-nine occult">
              <div class="line"></div><span class="fecha-l glyphicon glyphicon-menu-down"></span>
            </div>
            <div class="flecha-2 occult flecha-ten occult"><span class="fecha-l glyphicon glyphicon-menu-up"></span>
              <div class="line"></div><span class="circle-cruz"></span>
            </div>
          </div>
          <div class="box-g box-10 occult duo3">
            <h4>Objetivos <br><strong> C.Individuales</strong></h4>
          </div>
          <div class="box-texto texto-3 duo3 occult">
            <h4>C. INDIVIDUALES</h4>
          </div>
          <div class="recuadro-objeto">
            <div class="row mg-b">
              <div class="col-md-2">
                <div class="triangulo-1"></div>
              </div>
              <div class="col-md-6">
                <p>DECANTE</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="triangulo-2"></div>
              </div>
              <div class="col-md-6">
                <p class="c-green">CONTRIBUCIÓN</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="introduccion4.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-taller.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
   var data = [
                {
                 id :"d08-01.mp3",
                 isFirst: true,    
                 onEnd:{
                    audio:"d08-02.mp3",                     
                    delay : 600,                    
                 },            
                 
              },
              {
                 id :"d08-02.mp3",
                 onEnd:{
                    audio:"d08-03.mp3",                    
                    delay:600,
                 },      
                 whitChild:[
                             {  
                                class:".flecha-two",
                                time:3,
                                options:{
                                    to:{opacity:1, ease:"Back.easeInOut", delay:2}
                              }
                             },         
        
                              {
                                class:".one-1",
                                time:1.5,
                                options:{
                                to:{
                                    opacity:1, ease:"Back.easeInOut"
                                   }
                               }
                              },
                              {
                                class:".two-2",
                                time:2.5,
                                options:{
                                  to : { opacity:1, ease:"Back.easeInOut", delay:1.2}
                                }
  
                              },
                              {
                                class:".box-4",
                                time:3.5,
                                options:{
                                    to: {opacity:1, ease:"Back.easeInOut", delay:1.4},
                                }
                                
                              },
                              {
                                class:".flecha-tres",
                                time: 4,
                                options: {
                                  to : {opacity:1, ease:"Back.easeInOut", delay:1.4},
                                }
                                
                              },
                              {
                                class:".box-5",
                                time:4.5,
                                options:{
                                  to:{opacity:1, ease:"Back.easeInOut",delay:1.5},
                                }
                              },
                              {
                                class:".flecha-five",
                                time:6.0,
                                options:{
                                  to:{opacity:1, ease:"Back.easeInOut", delay:1.2}
                                }
                              },
                              {
                                class:".duo2",
                                time:5.4,
                                options:{
                                  to:{opacity:1, ease:"Back.easeInOut", delay:1.2},
                                }
                              }
  
                  ]               
             },
             {
                id:"d08-03.mp3",
                onEnd:{
                    audio:"d08-04.mp3",                      
                    delay:600,
                },
                whitChild:[
                              {
                                class:".box-7",
                                time:1.5,
                                options:{
                                to:{opacity:1, ease:"Back.easeInOut", delay:7.1}                                     
                               }
                              },
                              {
                                class:".flecha-seven",
                                time:2.5,
                                options:{
                                  to:{opacity:1, ease:"Back.easeInOut", delay:7.2}
                                }
                              },
                              {
                                class:".eight",
                                time:2.5,
                                options:{
                                  to : { opacity:1, ease:"Back.easeInOut", delay:7.2}
                                }
  
                              },
                              {
                                class:".rectangulo-2",
                                time:3.5,
                                options:{
                                    to: {opacity:1, ease:"Back.easeInOut", delay:7.0},
                                }
                                
                              },
                  ]
  
             },
            {
                id:"d08-04.mp3",
                onEnd:{
                    audio:"d08-05.mp3",                    
                    delay:800,
                },
                whitChild:[
              
                        {
                          class:".rectangulo-4",
                          time:8.5,
                          options:{
                            to:{opacity:1, ease:"Back.easeInOut", delay:6.2}
                          }
                        },                           
                        {
                          class:".box-9",
                          time:9.0,
                          options:{
                            to:{opacity:1, ease:"Back.easeInOut", delay:6.4}
                          }
  
                        },    
                        
                        {
                          class:".flecha-nine",
                          time:9.5,
                          options:{
                            to:{opacity:1, ease:"Back.easeInOut", delay:6.4}
                          }
  
                        },                   
                        {
                          class:".duo3",
                          time:10.0,
                          options:{
                            to:{opacity:1, ease:"Back.easeInOut", delay:6.6}
                          }
  
                        }
                ]
  
             },
             {
             
              id:"d08-05.mp3",
              whitChild:[
                          {
                            class:".flecha-ten",
                            time:10.5,
                            options:{
                              to:{opacity:1, ease:"Back.easeInOut", delay:7.5}
                            }
  
                          },
                          {
                            class:".rectangulo-3",
                            time:11.0,
                            options:{
                              to:{opacity:1, ease:"Back.easeInOut", delay:7.5}
                            }
  
                          },
                          {
                            class:".flecha-eight",
                            time:11.5,
                            options:{
                              to:{opacity:1, ease:"Back.easeInOut", delay:7.5}
                            }
  
                          },
                          {
                            class:".rectangulo",
                            time:12.0,
                            options:{
                              to:{opacity:1, ease:"Back.easeInOut", delay:7.5}
                            }
  
                          },
                          {
                            class:".flecha-six",
                            time:12.5,
                            options:{
                              to:{opacity:1, ease:"Back.easeInOut", delay:7.5}
                            }
  
                          },
                          {
                            class:".flecha-cuatro",
                            time:13,
                            options:{
                              to:{opacity:1, ease:"Back.easeInOut", delay:7.5}
                            }
  
                          },
                          {
                            class:".flecha-one",
                            time:13.5,
                            options:{
                              to:{opacity:1, ease:"Back.easeInOut", delay:7.5}
                            }
  
                          }
                      ]        
             }
             
    ];
   
  
  if (Audio) {
  
      Audio.init(data);
  
  }
</script>