
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu c-red menu--active" href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li>
        <a class="box-logo" href="index.html"><div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="nuestros-procesos">
      <p class="titulo">Nosso processo de Compromisso para o Sucesso <br> tem 3 etapas:</p>
      <div class="row">
        <div class="col-md-4 col-xs-4 colum-1 occult">
          <h4 class="sub-titulo c-red">Etapa 1</h4>
          <div class="recuadro-procesos bg-red">
            <p>Planejamento </p>
          </div>
          <p class="texto">Etapa na qual  <strong> definimos </strong><br> nossos objetivos e o <br><strong> desenvolvimento de competências.</strong></p>
        </div>
        <div class="col-md-4 col-xs-4 colum-2 occult">
          <h4 class="sub-titulo c-green">Etapa 2</h4>
          <div class="recuadro-procesos bg-green">
            <p>Revisão de Meio ano</p>
          </div>
          <p class="texto">É o <strong> momento formal<br> no qual revisamos o progresso de nossos objetivos e o desenvolvimento das nossas competências,</strong> através do feedback, para assegurar o sucesso de nosso desempenho para este ano.</p>
        </div>
        <div class="col-md-4 col-xs-4 colum-3 occult">
          <h4 class="sub-titulo c-yellow">Etapa 3</h4>
          <div class="recuadro-procesos bg-yellow">
            <p>Avaliação</p>
          </div>
          <p class="texto">Etapa na qual <strong> revisamos, avaliamos e reconhecemos </strong> o desempenho do colaborador comparando o realizado versus o planejado. </p>
          
        </div>
      </div>
      <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="introduccion2.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="introduccion4.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    </div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
         var data = [
           {
             id :"d06-01.mp3",
             onEnd:{
                audio:"d06-02.mp3",
                class:".colum-1",
                delay:600,
                options:{
                        to: {opacity: 1, delay : .1},
                        from: {scaleX:.4, scaleY:.4, delay:.4, ease: "Back.easeOut"}
                       },
             },                   
             isFirst: true,                  
          },
          {
             id :"d06-02.mp3",
             class:".colum-1",
             onEnd:{
                audio:"d06-03.mp3",
                class:".colum-2",
                delay:600,
                options:{
                        to: {opacity: 1, delay : .1},
                        from: {scaleX:.4, scaleY:.4, delay:.4, ease: "Back.easeOut"}
                      }  
             },                
         },
         {
            id:"d06-03.mp3",
            class:".colum-2",
            onEnd:{
                audio:"d06-04.mp3",
                class:".colum-3",
                delay:600,
                options:{
                        to: {opacity: 1, delay : .1},
                        from: {scaleX:.4, scaleY:.4, delay:.4, ease: "Back.easeOut"}
                } 
            },
  
         },
         {
            id:"d06-04.mp3",
            
         },
        ];
  
  if (Audio) {
      Audio.init(data);
  }
   
</script>