
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu c-red menu--active" href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="index.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="veremos-hoy">
      <div class="content-veremos-hoy occult btn-1">
        <p> Comecemos!</p>
      </div>
      <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="introduccion1.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="introduccion3.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
      <div class="footer">
        <p>Alicorp 2017 © Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
   var data = [
               {
                 id :"d05.mp3",  
                 class:".btn-1",
                 delay : 600,
                 options:{
                    to:{opacity: 1, delay:.3},
                    from:{y:"50px", delay:.4}
                 },    
                 isFirst: true,  
              }];
  
  if (Audio) {
     Audio.init(data);
  }
</script>