
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu c-red menu--active" href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="index.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="etapas">
      <div class="etapas-intro">
        <div class="col-md-6">
          <p class="sub-titulo c-red">Etapa 1</p>
          <div class="recuadro-procesos bg-red occult">
            <p>Planejamento </p>
          </div>
          <div class="iconos-1"><img class="i-one occult" src="img/iconos/line-1.png" alt=""/><img class="i-two occult" src="img/iconos/c-red.png" alt=""/></div>
        </div>
        <div class="col-md-6 pd-0">
          <p class="etapa occult"> Na etapa de <strong> Planejamento </strong> revisamos <br> a importância do <strong> alinhamento e seleção </strong> dos objetivos individuais e/ou planos de desenvolvimento de competências para <strong> a contribuição </strong> com os  <strong> objetivos </strong> organizacionais. </p>
        </div>
      </div>
      <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="introduccion3.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="introduccion5.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    </div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
    var data = [ {
                   id :"d07.mp3",
                   isFirst:true,                  
                   class:".recuadro-procesos",
                   delay:1600,
                   options:{
                     to : {opacity: 1, delay:.3},
                     from :{y:"50px", delay:.3 }
                   },
                   whitChild:[
                                { 
                                  class:".i-one",
                                  options:{
                                    to : {opacity: 1, delay:.9},
                                    from : {y:"50px", delay:.9}
                                  }
                                  
                                },
  
                                {
                                  class:".i-two",
                                  options:{
                                    to: {opacity: 1, delay: 1.1},
                                    from:{y:"20px", delay: 1.1}
                                  }
                                },
                                {
                                  class: ".etapa",
                                  options:{
                                    to:  {opacity: 1, delay: 1.3},
                                    from: {y:"50px", delay: 1.3}
                                  }
                                }
                               
                             ]
                             
               }];
  
  
  if (Audio) {
      Audio.init(data);
  }
</script>