
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu c-red menu--active" href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="index.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="que-haremos bg-introduccion">
      <div class="col-md-12">
        <div class="content-que-haremos">
          <div class="recuadro-1 occult"></div>
          <div class="recuadro-2 occult"></div>
          <div class="recuadro-3 occult"></div>
          <div class="recuadro-4 occult">
            <p><span>O que</span> vamos ver neste curso? </p>
          </div><a class="btn btn-primary button-crema-g btn-r" href="introduccion1.html" role="button">SEGUINTE <span class="glyphicon glyphicon-menu-right"></span></a>
        </div>
      </div>
      <div class="footer">
        <p>Alicorp 2017 © Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
     var localData = [
              {
                id:"d03.mp3",
                isFirst:true,                
                delay:1200,
                whitChild:[
                  {
                    class:".recuadro-2",
                    options:{
                      to:{opacity: 1, delay:.5},
                      from:{y:"50px", delay:.5}
                    }
                  },
                  {
                    class:".recuadro-1",
                    options:{
                      to:{opacity: 1, delay:.8},
                      from:{y:"50px", delay:.8}
                    }
                  },
                  {
                    class:".recuadro-3",
                    options:{
                      to:{opacity: 1, delay:1.1},
                      from:{y:"30px", delay:1.1}
                    }
                  }, 
                  {
                    class:".recuadro-4",
                    options:{
                      to:{opacity: 1, delay:1.4},
                      from:{y:"20px", delay:1.4}
                    }
                  }
                ]
              }
            ];
  if(Audio){
      Audio.init(localData);  
  }
</script>