
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu " href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu c-red menu--active" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="contactos">
      <h2>Agradeço por seu <br> tempo e seu compromisso!</h2>
      <h3>Caso tenha alguma dúvida <br> fale com o RH local ou a equipe <br> de Gestão de Desempenho e Efetividade Organizacional. </h3>
    </div>
    <div class="row-intro-feedback l-328">
      <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="resumen4.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a></div>
    </div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
   var data = [{
                  id:"d51.mp3",
                  delay:200,
                  isFirst:true,
               }];
  
  if(Audio){
    Audio.init(data);
  }
</script>