
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu " href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu c-red menu--active" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="content-resumen pg-g" id="ejer3">
      <div class="col-md-12">
        <div class="col-md-5 occult one"><img src="img/antes.jpg" alt=""/>
          <h3 class="sub-titulo">Nos preparamos<br> para el feedback</h3>
          <div class="box-casos-e"><img class="pull-left" src="img/bt-g.jpg" alt=""/>
            <div class="texto-casosc"><a href="feedback-antes1.html">Recomendações</a><img src="img/1a.jpg" alt=""/></div>
          </div>
          <div class="box-casos-e"><img class="pull-left" src="img/bt-g.jpg" alt=""/>
            <div class="texto-casosc"><a href="feedback-antes8.html">Habilidades</a></div>
            <div class="row row-table">
              <div class="col-md-7 pd-0">
                <h5>Empatia</h5>
                <h5>Assertividade</h5>
                <h5>Pensamento analítico</h5>
              </div>
              <div class="col-md-5">
                <h5>Objetividade</h5>
                <h5>Autocontrole</h5>
              </div>
            </div>
          </div>
          <div class="box-casos-e"><img class="pull-left" src="img/bt-g.jpg" alt=""/>
            <div class="texto-casosc"><a href="feedback-antes4.html">Estados Emocionais </a></div>
            <div class="row row-table">
              <div class="col-md-7 pd-0 pd-r68">
                <h5>Empatia</h5>
                <h5>Confusão</h5>
                <h5>Resistência</h5>
              </div>
              <div class="col-md-5">
                <h5>Insegurança </h5>
                <h5>Empolgação</h5>
                <h5>Angustia</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 pl-0 occult two"><img src="img/despues.jpg" alt=""/>
          <h3 class="sub-titulo">Metodologia</h3>
          <div class="col-md-12 pd-0">
            <div class="box-casos-e"><img class="pull-left mg-7" src="img/1b.png" alt=""/>
              <div class="texto-casosc"><a href="feedback-durante3.html">Objetivo Competência</a></div>
            </div>
          </div>
          <div class="col-md-12 pd-0">
            <div class="box-casos-e"><img class="pull-left mg-7" src="img/2b.png" alt=""/>
              <div class="texto-casosc"><a href="feedback-durante4.html">Impacto Influência</a></div>
            </div>
          </div>
          <div class="col-md-12 pd-0">
            <div class="box-casos-e"><img class="pull-left mg-7" src="img/3v.png" alt=""/>
              <div class="texto-casosc"><a href="feedback-durante5.html">Plano Compromisso</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pd-0 occult three"><img src="img/despues1.jpg" alt=""/>
          <h3 class="sub-titulo">Necessidade de acompanhamento</h3>
          <div class="col-md-12 pd-0">
            <div class="box-casos-e" style="display: flex;"><img class="pull-left" src="img/1c.jpg" alt=""/>
              <div class="texto-casosc"><a href="feedback-despues2.html"> Casos com  <strong>alta necessidade</strong>  de acompanhamento.</a></div>
            </div>
          </div>
          <div class="col-md-12 pd-0">
            <div class="box-casos-e" style="display: flex;"><img class="pull-left " src="img/2c.jpg" alt=""/>
              <div class="texto-casosc"><a href="feedback-despues3.html">Casos com  <strong>media necessidade d</strong> de acompanhamento.</a></div>
            </div>
          </div>
          <div class="col-md-12 pd-0">
            <div class="box-casos-e"><img class="pull-left " src="img/3c.jpg" alt=""/>
              <div class="texto-casosc"  style="display: flex;"><a href="feedback-despues4.html"> Casos com  <strong> baixa  necessidade</strong>  de acompanhamento. </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="resumen.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="resumen2.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
   var data = [{
           id:"d47-01.mp3",
           delay:200,
           isFirst:true,
           class:".one",              
           options:{
              from : {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
              to : {opacity: 1, delay: .5}
           },
           onEnd:{
              audio:"d47-02.mp3",
              delay:300,
              class:".two",
              options:{
                from:{scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},                          
                to:{opacity: 1, delay:.5}
              }
           }
        },
        {
          id:"d47-02.mp3",
          onEnd:{
            audio:"d47-03.mp3",
            delay:300,
            class:".three",
            options:{
              from:{scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"},
              to: {opacity: 1, delay:.5}
            }
  
          }
        },
        {
          id:"d47-03.mp3",
        }
      ]; 
  
  
  if(Audio){
      Audio.init(data);
  }
</script>