
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu " href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu c-red menu--active" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="intro-feedback bg-feedback11 h-resumen">
      <div class="recuadro-frase occult">
        <p class="titulo">“As pessoas se convencem do líder antes de se convencerem da visão.”</p>
        <h4>John C. Maxwell</h4>
        <h5 class="texto">Especialista em liderança,<br> conferencista e autor norte-americano</h5>
      </div>
      <div class="row-intro-feedback l-328">
        <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="resumen3.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="resumen5.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
      </div>
      <div class="footer">
        <p>Alicorp 2017 © Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
   var data = [{
            id:"d50.mp3",
            delay:600,
            class:".recuadro-frase",
            options:{
              from:{y:"20px", delay:.5},
              to:{opacity: 1, delay:.5}
            },
            isFirst:true,
         }];
  
  
  if(Audio){
    Audio.init(data);
  }
</script>