
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu " href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu c-red menu--active" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="objetivo">
      <p class="titulo">Objetivos do curso</p>
      <div class="row">
        <div class="col-md-4 col-xs-4 colum-1 occult"><img src="img/iconos/1a.png" alt=""/>
          <h4 class="sub-titulo c-red">Reconhecer</h4><img class="ck1" src="img/ck1.png" alt=""/>
          <p class="texto"><strong> A importância do feedback</strong> como instrumento para o crescimento e desenvolvimento do líder e a sua equipe, além do impacto deste espaço no alcance dos objetivos organizacionais.</p>
        </div>
        <div class="col-md-4 col-xs-4 colum-2 occult"><img src="img/iconos/2b.png" alt=""/>
          <h4 class="sub-titulo c-green">Revisar </h4><img class="ck1" src="img/ck2.png" alt="">
          <p class="texto"><strong> As etapas do processo</strong> e as recomendações para conseguir uma Revisão de Meio de Ano, bem-sucedida.</p>
        </div>
        <div class="col-md-4 col-xs-4 colum-3 occult"><img src="img/iconos/3c.png" alt=""/>
          <h4 class="sub-titulo c-yellow">E identificar </h4><img class="ck1" src="img/ck3.png" alt="">
          <p class="texto"><strong> As principais habilidades</strong> que o Gestor precisa pôr em prática.</p>
        </div>
      </div>
      <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="resumen2.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="resumen4.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    </div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var data = [
            {
              id :"d49-01.mp3",                 
              class:".colum-1",
              delay:600,
              options:{
                       to: {opacity: 1, delay : 4.5},
                       from: {scaleX:.4, scaleY:.4, delay:4.5, ease: "Back.easeOut"}
                      },                
              onEnd:{
                 delay:200,
                 audio:"d49-02.mp3",  
                 class:".colum-2",   
                 options:{
                           to: {opacity: 1, delay : .1},
                           from: {scaleX:.4, scaleY:.4, delay:.4, ease: "Back.easeOut"}
                 }                  
              },                   
              isFirst: true,                  
           },
           {
              id :"d49-02.mp3",
             // class:".colum-1",                
              onEnd:{
                 audio:"d49-03.mp3",                     
                 delay:600,
                 class:".colum-3",
                 options:{
                         to: {opacity: 1, delay : .1},
                         from: {scaleX:.4, scaleY:.4, delay:.4, ease: "Back.easeOut"}
                 } 
  
              },                
          },
          {
             id:"d49-03.mp3",
           }
         ];
     
    if(Audio){
       Audio.init(data);
    }
</script>