
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu " href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu c-red menu--active" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="index.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="intro-feedback bg-resumen h-resumen">
      <div class="btn-w-feedback lr-relative btn-1 occult">
        <p>Resumo</p>
      </div>
      <div class="row-intro-feedback l-328">
        <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="ejercicios5.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="resumen1.html" role="button">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
      </div>
      <div class="footer">
        <p>Alicorp 2017 © Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    data = [{
                    id:"d46.mp3",
                    delay:800,
                    class:".btn-1",
                    options:{
                      from:{y:"50px", delay:.5},
                      to:{opacity: 1, delay:.5}
                    },
                    
                    isFirst:true
          }];
  if(!document.getElementById('d46.mp3')){
    jQuery("#modalLoading").modal("show");
    
    var audios = ["d46.mp3","d47 nuevo.mp3","d47-01.mp3","d47-02.mp3","d47-03.mp3","d48 nuevo.mp3","d48.mp3","d48_correcto.mp3","d48_incorrecto.mp3","d49 nuevo.mp3","d49-01.mp3","d49-02.mp3","d49-03.mp3","d50.mp3","d51.mp3"];
    
    totalResults = audios.length;
    mediaContent(audios);
  }
  else{
    Audio.init(data);
  }
</script>