
<div class="align-container">
  <div class="container">
    <div class="menu">
      <ul class="list-inline menu-principal">
        <li><a class="ico-menu " href="introduccion.html">INTRODUÇÃO</a></li>
        <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
        <li><a class="ico-menu" href="ejercicios.html">EXERCÍCIOS</a></li>
        <li><a class="ico-menu c-red menu--active" href="resumen.html">RESUMO</a></li>
        <li><a class="ico-menu" href="feedback-durante.html">METODOLOGIA</a></li><a class="box-logo" href="home.html">
          <div class="card-logo"><img src="img/iconos/logo.png" alt=""/></div></a>
      </ul>
      <div class="sub-menu submenu1"></div>
    </div>
    <div class="content-resumen">
      <div class="box-titulo-resumen">
        <div class="col-md-1"><img src="img/iconos/pieza.png" alt=""/></div>
        <div class="col-md-6">
          <div class="titulo">Caso prático</div>
        </div>
      </div>
      <div class="box-titulo-resumen true-false h-63 mg-b1">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <div class="titulo">Selecione verdadeiro (V) ou falso (F)</div>
          <div class="row">
            <div class="col-md-10">
              <p>O processo de RDMA começa com o convite do líder</p>
              <p>Antes da sessão de feedback, o colaborador deverá inserir a informação sobre seus avanços no sistema DESTACA</p>
              <p>A sessão de feedback deve ser executada num ambiente longe de elementos que gerem distração </p>
              <p>A responsabilidade da execução da RDMA é unicamente do líder</p>
              <p>Na etapa de RDMA pode-se adicionar ou eliminar iniciativas</p>
              <p>O processo de RDMA termina com o envio dos acordos ao líder</p>
            </div>
            <div class="col-md-2">
              <form class="col-respuesta">
                <select class="selectpicker">
                  <option>-Seleccione-</option>
                  <option>V</option>
                  <option>F</option>
                </select>
                <select class="selectpicker">
                  <option>-Seleccione-</option>
                  <option>V</option>
                  <option>F</option>
                </select>
                <select class="selectpicker">
                  <option>-Seleccione-</option>
                  <option>V</option>
                  <option>F</option>
                </select>
                <select class="selectpicker">
                  <option>-Seleccione-</option>
                  <option>V</option>
                  <option>F</option>
                </select>
                <select class="selectpicker">
                  <option>-Seleccione-</option>
                  <option>V</option>
                  <option>F</option>
                </select>
                <select class="selectpicker">
                  <option>-Seleccione-</option>
                  <option>V</option>
                  <option>F</option>
                </select>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="resumen1.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r notClicked" href="#" role="button" disabled="disabled">SEGUINTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
    <footer>
      <p>Alicorp 2017 © Todos os direitos reservados.</p>
    </footer>
  </div>
</div>
<script type="text/javascript">
  var data = [{
              id:"d48.mp3",           
              isFirst:true,
           }];    
  jQuery(document).ready(function ($) {
  
      $('select').on('change', function() {
  
              getSelects('selectpicker');
  
          });
  
          function getSelects(element_class) {
              var array2 = [];
              $('select.' + element_class).children('option:selected').each(function () {
                  var $this = $(this);
                  array2.push($this.text());
              });
  
              var index = array2.indexOf("-Seleccione-");
  
              if (index == -1) {
  
                  var array1 = ['F','V','V','F','F','F'];
  
                  var is_same = array1.length == array2.length && array1.every(function(element, index) {
                              return element === array2[index];
                          });
  
                  if(is_same){
  
                      jQuery(".container-wrapper").load("resumen2bien.html",function(){
                          var audio = document.getElementById("d48_correcto.mp3");
                          if(audio){
                              audio.play();
                          }
                      });
  
                  }
                  else{
  
                     jQuery(".container-wrapper").load("resumen2mal.html",function(){
                          var audio = document.getElementById("d48_incorrecto.mp3");
                          if(audio){
                              audio.play();
                          }
                     });
                  }
              }
          }  var array1 = ['Acierto','Error','Acierto','Error'];
  
      
      if(Audio){
          Audio.init(data);
      }
      
  });
</script>