header .container .navbar {
  margin-bottom: 0;
  position: inherit; }
  @media screen-sm-min {
    header .container .navbar {
      position: relative; } }
  header .container .navbar button {
    margin: 10px 0 10px 0; }
    header .container .navbar button .icon-bar {
      width: 30px;
      height: 3px;
      background: black;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      opacity: 1; }
      header .container .navbar button .icon-bar:nth-child(2) {
        top: 0;
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center; }
      header .container .navbar button .icon-bar:nth-child(3) {
        top: 18px;
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center; }
      header .container .navbar button .icon-bar:nth-child(4) {
        top: 36px;
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center; }
      header .container .navbar button .icon-bar + .icon-bar {
        margin-top: 7px; }
    header .container .navbar button:hover {
      opacity: 0.5; }
    header .container .navbar button .icon-bar.open:nth-child(2) {
      top: -3px;
      left: 8px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    header .container .navbar button .icon-bar.open:nth-child(3) {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 0; }
    header .container .navbar button .icon-bar.open:nth-child(4) {
      -webkit-transform: rotate(-44deg);
      -ms-transform: rotate(-44deg);
      transform: rotate(-44deg);
      top: 39px;
      left: 8px; }
    header .container .navbar button .icon-bar + .icon-bar {
      margin-top: 7px; }
  header .container .navbar .navbar-brand {
    height: 48px;
    padding: 9px 50px 19px 0;
    line-height: 20px;
    position: relative;
    z-index: 5; }
    @media screen-sm-min {
      header .container .navbar .navbar-brand {
        padding: 19px 20px 19px 0; } }
    @media screen-md-min {
      header .container .navbar .navbar-brand {
        padding: 19px 95px 0 0; } }
    header .container .navbar .navbar-brand img {
      width: 31px;
      height: auto; }

.navbar-collapse {
  padding-left: 15px;
  padding-bottom: 25px;
  position: absolute;
  background: white;
  width: 100%;
  left: 0;
  top: 56px;
  z-index: 6;
  height: calc(100% - 56px); }
  @media screen-xs-min {
    .navbar-collapse {
      padding-left: 20px;
      padding-bottom: 19px; } }
  @media screen-sm-min {
    .navbar-collapse {
      top: 0;
      padding: 0;
      position: relative;
      background: transparent;
      height: auto;
      z-index: 2; } }
  .navbar-collapse ul {
    margin: 0 auto;
    padding: 0;
    width: 175px;
    text-align: center; }
    @media screen-sm-min {
      .navbar-collapse ul {
        margin: 0; } }
    .navbar-collapse ul li {
      font-family: museo;
      list-style: none; }
      @media screen-sm-min {
        .navbar-collapse ul li {
          margin-right: 20px; } }
      @media screen-md-min {
        .navbar-collapse ul li {
          margin-right: 50px; } }
      @media screen-lg-min {
        .navbar-collapse ul li {
          margin-right: 70px; } }
      .navbar-collapse ul li a {
        font-family: museo;
        font-weight: 500; }
      .navbar-collapse ul li:last-child {
        margin-right: 0; }

.menu_list--items li {
  border-bottom: 1px solid black; }
  .menu_list--items li a {
    padding: 0 0;
    line-height: 70px;
    font-size: 14px; }
    .menu_list--items li a:hover {
      background: transparent; }

.menu__redes-sociales li a {
  padding: 0 0; }

.letter-black {
  font-weight: 500;
  color: black; }

.letter-blue {
  font-weight: 500;
  color: #00bfe1; }
