
.valid-message {
  font-family: "Gotham-Bold";
  color: #5D5D5D;
  font-size: 17px;
  text-align: center;
  padding-top: 95px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.tl_block2{
    .padd{
        padding: 13px 0px 11px !important;
    }
}
.padd{
    padding: 20px 0px ;
    img{
        margin-top: -9px;
    }
    .btn-green{
        margin-top: 5px;
    }
}

.dropped{
  position: relative;
  z-index: 1;
}

.box-mod{
  position: relative;
  width: 287px;
  height: 54px;
  background: url('../img/ap_droppe.png') no-repeat;
  z-index: 0;
}
.titlemod{
  font-size: 15px;
  font-family: 'Gotham-Book';

}
.titlemod span{
   font-family: 'Gotham-Bold';
}
.yellowButton{
    display: inline-block;
    background-color: red;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 15px;
    font-family: 'Gotham-Book';
    position: relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    &:hover{
        text-decoration: none;
        color: white;
    }
}

.mg-b1{
    margin-bottom: 2px;
}
/* ejercicios   */
.content-resumen{
    padding: 34px 47px 1px 47px;
    overflow: hidden;
    .box-titulo-resumen{
        padding-bottom: 32px;
        overflow: hidden;
        .titulo{
            padding-top: 3px;
        }
    }
    .nombre{
        font-size: 26px;
        font-family: $base-bold;
        padding-bottom: 16px;
        img{
            margin-left: 15px;
        }
    }
    .box-col{
        padding: 0px 58px;
        overflow: hidden;
        height: 363px;
    }
    .box-casos-e{
        padding-bottom: 16px;
        img{
            padding-top: 6px;
            padding-right: 14px;
        }
        .texto-casos{
            display: table;
            font-size: 15px;
            font-family: $base-light;
            line-height: 18px;
        }
        .texto-casosb{
            display: table;
            font-size: 14px;
            font-family: $base-light;
            line-height: 18px;
        }
   }
}
.h-63{
    height: 363px;
}
.pd-sec-12{
  padding: 0px 60px 0px 45px;
}
.pd-l{
  padding-right: 0px;
}


#ejer3 {
    .row{
        padding-top: 23px;
    }
    .pd-lados{
        padding: 0px 72px;
        .titulo{
            line-height: 30px; 
            padding-bottom: 22px;
        }
    }
    .sub-titulo{
        font-size: 22px;
        color: $red;
        padding: 22px 0px 2px;

    }
    .texto-casosc{
        font-size: 17px; 
        font-family: $base-normal;
        line-height: 22px;

    }
    .box-casos-e{
        padding-top: 24px;
        padding-bottom: 0px;

    }

    .row-table{
        display: table; 
        padding-top: 10px !important;
        h5{
            font-size: 12px;
            font-family: $base-bold;
            line-height: 18px;
        }
    }

    ul{
        list-style: none;
        padding-left: 0px;
        padding-top: 67px;
        li{
            float: left;
            width: 20%;
            img{
                padding-bottom: 15px;
            }
        }
    }
}
.height-5{
    height: 488px !important;
}


#ejer3 p > input{
  padding: 0;
  margin: 0;
  height: 26px;
  width: 25px;
  float: left;
  position: absolute;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

#ejer3 p > label { 
  line-height: 26px; 
  padding: 0 0 26px 30px;
  font-size: 34px;
  font-family: 'Gotham-Bold';
  
}

#ejer3 p:not(#foo) > input + label
{
  background: url(../img/gr-custom.png) 0 -1px no-repeat;
  height: 28px;
}

#ejer3 p:not(#foo) > input[type=checkbox]:checked + label  
{ background-position: 0 -69px; }

.check-item{
    font-size: 15px !important;
    font-family: $base-bold;
}

.pd-r68{
    padding-right: 68px;
}
.mg-7{
    margin-top: -15px;
}
.pd-t24{
    padding-top: 24px !important;
}
.pg-g{
    padding: 49px 47px 10px 47px !important;
}

.true-false{
    .titulo{
        font-size: 22px; 
        font-family: $base-light;
    }
    p{
        font-size: 14px;
        padding-top: 21px;
    }
    select{
        font-size: 15px;
        option{
            text-align: center;
        }

    }
    .col-respuesta{
        padding-top: 5px;
        .selectpicker {
            margin-bottom: 2px;
            margin-top: 16px;
        }
        .form-control{
            height: 24.5px;
            width: 24.5px;
            padding: 6px;
            border-radius: 0px;
            border: 1px solid #5D5D5D;

        }

    }
}