/* bg-feedback*/
.bg-resumen{
    background: url("../img/bg/resumen.jpg");
}
.bg-ejercicios{
    background: url("../img/bg/ejercicios.jpg");
}
.bg-frase{
    background: url("../img/bg/bg-frase.jpg");
}
.bg-reflexion{
    background: url("../img/bg/reflexion.jpg");
}
.bg-taller{
    background: url("../img/bg/bg-taller.jpg");
}
.bg-feedback{
    background: url("../img/bg/bg-proyecto-feedback.jpg");
}
.bg-feedback9{
    background: url("../img/bg/f-11.jpg");
}
.bg-feedback10{
    background: url("../img/bg/f-12.jpg");
}
.bg-feedback11{
    background: url("../img/bg/f-13.jpg");
}
.bg-intro{
    background: url("../img/bg/bg-feedback.jpg");
}
.bg-despues{
    background: url("../img/bg/bg-despues.jpg");
}
.bg-durante{
    background: url("../img/bg/bg-durante.jpg");
}

/* utilities*/
.mg-f-des{
    margin: 0px 173px 14px !important; 
}
.l-40{
    left: 40px !important;
}
.lr-relative{
    right: 21% !important;
    top: 36% !important;
}
.h-resumen{
    height: 577px !important;
}
.l-328{
    left: 329px !important;
}
.pd-taller{
    padding: 154px 96px 132px !important;
}
.n-1{
    padding: 0px 57px;
    left: 227px;
    top: 96px;
}
.n-2{
    padding: 0px 32px;
    left: 202px;
    top: 141px;
}
.footer{
    font-size: 8px;
    color: white;
    position: absolute;
    bottom: 3px;
    right: 40px;
}

/**   feedback    */
.intro-feedback{
    background-size: cover;
    width: 100%;
    height: 554px;
    padding: 30px;
    position: relative;
    .btn-w-feedback{
        width: 542px;
        height: 183px;
        display: table;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 80px 5px;
        padding: 0px 60px;
        position: absolute;
        right: 67px;
        top: 42px;
        p{
            font-family: $base-bold;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 38px;
        }
    }
    .row-intro-feedback{
        position: absolute;
        bottom: 0;
        left: 156px;
        .box-btn-intro{
            padding-bottom: 64px;
            overflow: hidden;
        }
        .btn-intro-feedback{
            float: left;
            margin-right: 45px;
            width: 189px;
            height: 73px;
            border-radius: 3px 30px;
            border: 1px solid white;
            display: table;
            h3{
                font-family: $base-bold;
                color: $white;
                font-size: 18px;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
        }
        .row-btn{
            margin: 0 auto 14px;
        }
    }
}

.btn-w-feedback-left{
    width: 448px;
    height: 183px;
    display: table;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 80px 5px;
    padding: 0px 60px;
    position: absolute;
    left: 37px;
    top: 253px;
    p{
        font-family: $base-bold;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 38px;
    }
}

.btn-reflexion{
    width: 514px;
    height: 251px;
    display: table;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 120px 5px;
    position: absolute;
    .text-reflexion{
        display: table-cell;
        vertical-align: middle;
    }
    h4{
        font-size: 30px;
        font-family: $base-bold;
        margin-bottom: 5px;
    }
    p{
        font-family: $base-light;
        font-size: 30px;
        line-height: 35px;
    }
}
/*  Taller */
.content-feedback{
    padding: 34px 42px 0px;
    overflow: hidden;
}
.valores{
    text-align: center;
    padding: 30px 40px 6px;
    position: relative;
    .titulo{
        text-align: left !important;
        padding-bottom: 3px;
    }
    h4{
        font-family: $base-bold;
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 21px;
    }

    .val-1{
        margin: 0 auto;
        padding: 0px 40px;
    }
    .val-2{
        padding: 0px 82px;
        h4{
            padding-bottom: 0px !important;  
        }
    }
    .img-descarga{
        position: absolute;
        top: 90px;
        right: 0px;
    }

}
.descarga{
    height: 393px;
    width: 100%;
    display: table;
    .img-descarga{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}
.ejercicios-aprendizaje{
    padding: 36px 10px 15px;
    overflow: hidden;
    .col-md-3{
        padding-top: 10px;
        .col-md-12{
            padding: 0px;
        }
    }
}

.col-right{
    display: table;
    p{
        line-height: 15px;
        font-size: 13px;
        padding: 10px 9px 12px;
        font-family: $base-light;
        font-weight: 600;
        color: #5D5D5D;
    }
    .item-ejercicios-g{
        background: rgba(204, 204, 204, 0.18);
        border-top: 1px solid rgba(204, 204, 204, 1 );
        border-bottom: 1px solid rgba(204, 204, 204, 1);
    }
}
.btn-green{
    width: 168px;
    height: 35px;
    display: table;
    background: $green;
    border-radius: 15px 5px;
    margin-bottom: 12.8px;
    cursor: pointer;
    h4{
        display: table-cell;
        vertical-align: middle;
        font-size: 15px;
        color: white;
        text-align: center;
        font-family: $base-bold;
        line-height: 20px;
    }
}
.btn-green-antes{
    position: relative;
    width: 230px;
    height: 155px;
    display: table;
    background: $green;
    border-radius: 70px 5px;
    margin-bottom: 30px;
    padding: 0px 20px 0px 40px;
    h4{
        display: table-cell;
        vertical-align: middle;
        font-size: 13px;
        color: white;
        font-family: $base-light;
        line-height: 16px;
    }
    .circle-num{
        position: absolute;
        background: $green;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        display: table;
        border: 4px solid white;
        top: 61px;
        left: -15px;
        p{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 23px;
            color: white;
            font-family: $base-bold;
        }

    }
}
.content-antes{
    padding: 30px 20px 2px 86px;
    .titulo{
        margin-bottom: 28px;
    }
}
.content-habilidades{
    position: relative;
    height: 465px;
    .text-habilidades{
        width: 556px;
        position: absolute;
        top: 223px;
        left: 250px;
        .h-left{
            position: absolute;
            left: -100px;
            top: -83px;
        }
        h2{
            font-size: 46px;
            letter-spacing: 1.1px;
            font-family: $base-medium;
            color: $green;
        }
        h3{
            font-size: 30px;
            letter-spacing: 1.1px;
            font-family: $base-bold;
        }
    }
}
.hb-left{
    position: absolute;
    bottom: 110px;
    left: 138px;
}
.hb-right{
    position: absolute;
    top: 50px;
    right: 160px;
}
.btn-centro-general{
    bottom: 14px;
    position: absolute;
    left: 331px;
}
/* feedback sesiones*/
.feedback-sesiones{
    padding: 50px 70px 123px;
    overflow: hidden;
    .btn-sesion{
        width: 735px;
        height: 211px;
        display: table;
        background: rgba(93, 93, 93, 0.06);
        border-radius: 100px 5px;
        margin-top: 44px;
        padding: 0px 51px;
        h4{
            display: table-cell;
            vertical-align: middle;
            font-size: 26px;
            font-family: $base-light;
            line-height: 32px;
        }
    }

}
/* video */
 .feedback-video{
    padding: 25px 70px 0px;
    overflow: hidden;
    .titulo{
        padding-bottom: 5px;
    }
    .seccion-video{
        width: 100%;
        height: 319px;
        background: black;
        margin: 25px 0px 19px;
        display: table;
        h4{
            display: table-cell;
            vertical-align: middle;
            color: white;
            font-size: 48px;
            font-family: $base-bold;
            text-align: center;
        }
    }
 }
 /* recuadro-frase*/
.recuadro-frase{
    width: 439px;
    color: white;
    position: absolute;
    right: 30px;
    top: 50px;
    p{
        letter-spacing: 2.1px;
        color: white;
        font-size: 36px;
        font-family: $base-normal;
        font-weight: 900;

    }
    h4{
        padding-top: 27px;
        padding-bottom: 6px;
        font-size: 16px;
        font-family: $base-bold;
    }
}
.recuadro-frase2{
    width: 470px;
    color: white;
    position: absolute;
    right: 30px;
    top: 80px;
    p{
        color: white;
        font-family: $base-normal;
        font-weight: 900;
        letter-spacing: 2.1px;
        line-height: 32px;
        font-size: 26px;
    }
    h4{
        padding-top: 35px;
        padding-bottom: 6px;
        font-size: 16px;
        font-family: $base-bold;
    }
}

/* */
.feedback-metolodogia{
    padding: 54px 46px 14px;
    overflow: hidden;
    .titulo{
        padding-bottom: 10px;
    }
    .content-metolodogia{
        padding: 53px 38px 68px;
        overflow: hidden;
    }
    .metolodogia-left{
        border-top: 3px solid $green;
        width: 310px;
        padding: 18px 0px;
        p{
            line-height: 20px;
            font-size: 15px;
            padding: 5px 0px 24px;

        }
        h4{
            color: $green;
            font-size: 26px;
            font-family: $base-light;

        }
    }
}
.mrg-5{
    margin-top: 5px;
}

.utilizar-metolodogia{
    .texto{
        font-size: 18px;
    }
}
.content-utilizar-metolodogia{
    padding: 52px 23px 12px; 
    overflow: hidden;
    h4{
        text-align: center;
        font-size: 18px;
        font-family: $base-light;
        padding-top: 24px;
    }
}


.algunas-frase{
    padding: 98px 17px 3px 10px;
    overflow: hidden;
    .col-left-frase{
        text-align: center;
        h4{
            padding-top: 24px;
            font-size: 18px;
            font-family: $base-normal;
        }
    }
    .col-right-frase{
        padding-left: 33px;
        border-left: 2px solid $red;
        .aclara{
            padding-bottom:33.3px;
        }
        .analiza{
            padding-bottom: 24px;
        }
        .actua{
            padding-bottom: 40px;
        }
        .box-items{
            p{
                display: table;
                font-size: 15px;
                padding-left: 8px;
                line-height: 16px;
                font-family: $base-normal;
                letter-spacing: -0.9px;
            }
        }
    }
}

.utilizo-metodologia{
    padding: 40px 80px 0px;
    overflow: hidden;
    .titulo{
        font-family: $base-normal;
        font-weight: 100;
    }
    h4{
        font-size: 26px;
        color: $red;
        font-family: $base-bold;
    }
    h3{
        font-size: 18px;
        padding-top: 4px;
    }
    .row-btn{
        padding: 10px 0px 16px;
    }
    .seccion-video{
        width: 100%;
        height: 333px;
        background: black;
        margin-top: 10px;
        display: table;
        h4{
            display: table-cell;
            vertical-align: middle;
            color: white;
            font-size: 48px;
            font-family: $base-bold;
            text-align: center;
        }
    }
}

/*elige*/
.elige-a{
    padding: 42px 55px 3px;
    overflow: hidden;
    .col-right-elige{
        padding-right: 0px;
        padding-left: 32px;
        border-left: 2px solid #5D5D5D;
        p{
            font-size: 14px;
            font-family: $base-normal;
        }
        .content-btn{
            padding-bottom: 15px;
            padding-top: 5px;
        }
        .btn{
            padding: 4px 10px;
        }
        .green-btn{
            width: 113px;
            font-size: 14px;
            font-family: $base-bold;
            background: rgba(155, 200, 99, 0.35);
            border-color: transparent;
            margin-right: 10px;
            border-radius: 3px 20px;
            &:hover,
            &:focus {
                background: darken($green, 10%);
                border-color: transparent;
                outline: 0;
                transition: all .5s;
                color: $white;

                &:active {
                    background: darken($green, 10%);
                    border-color: transparent;
                    color: $white;
                }
            }

            &:active,
            &.active-btn-green {
                background: darken($green, 10%);
                border-color: transparent;
            }
        }
    }
}

.p-elige{
    font-size: 26px;
    font-family: $base-bold;
    color: $red;
    line-height: 25px;
    span{
        font-size: 61px;
        line-height: 70px;
        color: #9BC863;
    }
}
.intro-despues{
    padding: 40px 45px 1px;
    overflow: hidden;
    .titulo{
        padding-left: 15px;
    }
    img{
        padding-left: 5px;
        padding-bottom: 35px;
    }
    h4{
        font-size: 17px;
        font-family: $base-normal;
    }
    .banderines{
        padding: 88px 0px 70px;
        overflow: hidden;
    }
}
/**/
.intro-despues-caso{
   padding: 50px 63px 0px;
   overflow: hidden; 
   .subtitulo{
        font-size: 18px;
        font-family: $base-medium;
        padding-bottom: 18px;
   }
   .seccion-despues-caso{
        padding: 65px 0px 80px;
        overflow: hidden;
        .content-casos1{
            width: 199px;

        }
        .img-despues{
            padding-top: 8px;
            padding-left: 45px;
            padding-bottom: 20px;
        }
        h4{
            font-size: 26px;
        }
   }
   .box-casos{
        padding-bottom: 15px;
        img{
            padding-top: 6px;
            padding-right: 14px;
        }
        .texto-casos{
            display: table;
            font-size: 15px;
            font-family: $base-normal;
            line-height: 18px;
        }
   }
}

.intro-colaboradores{
    padding: 32px 56px 0px;
}
.seccion-colaboradores{
    overflow: hidden;
    .content-que-dicen{
        width: 371px;
        height: 327px;
        margin: 18px auto 24px;
        position: relative;
        .recuadro-g{
            position: absolute;
            width: 183px;
            height: 161px;
            background: #77C352;
            border-radius: 5px 55px;
            display: table;
            padding: 0px 28px;
        }
        .r-1{
            top: 0px;
        }
        .r-2{
            bottom: 0px;
            right: 0px;

        }
        .recuadro-2{
            position: absolute;
            right: 0px;
            position: absolute;
        }
        .recuadro-3{
            position: absolute;
            bottom: 0;
            left: 0;
            position: absolute;
        }
        .recuadro-text1{
            width: 241px;
            right: -249px;
            bottom: 0px;
            position: absolute;
            h5{
                font-size: 10px;
                
            }
        }
        p{
            position: relative;
            font-size: 15px;
            color: $white;
            font-family: $base-medium;
            display: table-cell;
            vertical-align: middle;
            line-height: 17px;
        }
    }
}

.rec{
    margin: 0 auto;
    display: block;
}

.mg-15{
    margin-left: -15px;
}
.pd-3{
    padding-top: 13px !important;
}
.valt-feedback{
    padding: 24px 42px 0px;
    overflow: hidden;
}
.como-feed{
    text-align: center;
    width: 784px;
    position: relative;
    margin: 0 auto;
    padding: 10px 0px;
    .col-left, .col-right{
        width: 384px;
    }
    .col-left{
        margin-right: 16px;
        .centro-img{
            position: absolute;
            top: 145px;
            left: 355px;
        }
    }
    .col-right{
        .img-descarga{
            position: absolute;
            right: -50px;
            bottom: -53px;
        }
    }
    .row{
        margin-bottom: 7px;
    }
    .pd-11{
        padding: 0px 11px;
    }
    h4{
        font-family: $base-bold;
        font-size: 18px;
        padding: 10px 0px;
        color: white;
    }
    p{
        font-family: $base-light;
        font-size: 12px;
        color: white;
    }
    .btn-feed-green{
        border-radius: 5px 90px;
        width: 189px;
        height: 190px;
        display: table;
        .text-val{
            display: table-cell;
            vertical-align: middle;
        }
    }
    .btn-feed-green1{
        border-radius: 90px 5px;
        width: 189px;
        height: 190px;
        display: table;
        .text-val{
            display: table-cell;
            vertical-align: middle;
        }
    }
    .mg-10{
        margin-right: -10px;
    }
    .bg-gr{
        background: #85BC40;
    }
    .bg-gcl{
        background: rgba(133, 188, 65, 0.85);
    }
    .bg-gcla{
        background: rgba(133, 188, 64, 0.89);
    }

}

.float-l{
    float: left;
}
.mg-18{
    margin-right: -18px;
}


.tipo-2{
    width: 500px;
    height: 410px;
    margin: 0 auto;
    margin-top: -24px;
    position: relative;
    margin-bottom: 18px;
    .c-left{
        position:absolute;
        left: 72px;
        top: 129px;
    }
    .c-top{
        position: absolute;
        top: 50px;
        left: 157px;
    }
    .c-right{
        position: absolute;
        top: 155px;
        left: 252px;
    }
    .c-bottom{
        position: absolute;
        bottom: 35px;
        left: 157px;
    }
    .tri-l{
        position: absolute;
        left: 35px;
        top: 187px;
    }
    .tri-t{
        position: absolute;
        left: 242px;
        top: 9px;
    }
    .tri-r{
        position: absolute;
        right: 40px;
        top: 187px;
    }
    .tri-b{
        position: absolute;
        left: 239px;
        bottom: 4px;
    }
}
.contactos{
    width: 672px;
    height: 419px;
    margin: 0 auto;
    margin-top: 70px;
    h2{
        font-size: 45px;
        padding-top: 60px;
        font-family:$base-bold;
        color: $green;
        text-align: center;
        line-height: 52px;
        padding-bottom: 25px;
    }
    h3{
        font-size: 22px;
        font-family: $base-medium;
        text-align: center;
        line-height: 25px;

    }
}