.titulo{
    font-size: 26px;
    font-family: $base-bold;
    color: $red;
    font-weight: 900;
}
.sub-titulo{
    font-size: 24px;
    font-family: $base-normal;
}

.texto{
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}
h4{
    font-size: 12px;
    font-family: $base-normal;
}


.bg-introduccion{
	background: url("../img/bg/bg-interna.jpg");
	background-size: cover;
	width: 100%;
	height: 578px;
}

.que-haremos{
	.content-que-haremos{
		width: 375px;
		height: 400px;
		margin: 52px auto 50px;
		position: relative;
		.recuadro-1{
			position: absolute;
	    	top: 0px;
			position: absolute;
			width: 142px;
			height: 152px;
			background: rgba(255, 255, 255, 0.75);
			border-radius: 5px 55px;
		}
	    .recuadro-2{
	    	position: absolute;
	    	left: 148px;
	    	top: 12px;
	    	position: absolute;
	    	width: 130px;
	    	height: 140px;
	    	background: rgba(255, 255, 255, 0.53);
	    	border-radius: 50px 5px;
	    }
	    .recuadro-3{
	    	position: absolute;
	    	bottom: 107px;
	    	left: 14px;
	    	position: absolute;
	    	width: 128px;
	    	height: 137px;
	    	background: rgba(255, 255, 255, 0.9);
	    	border-radius: 50px 5px;
	    }
	    .recuadro-4{
	    	position: absolute;
	    	right: 0px;
	    	bottom: 0px;
	    	width: 228px;
	    	height: 244px;
	    	background: $white;
	    	border-radius: 5px 100px;
            padding: 20px 20px 20px 31px;
            line-height: 40px;
            p{
                position: relative;
                font-size: 35px;
                font-family: $base-bold;
                span{
                    font-family: $base-light;
                }
            }
	    }
	}
    .button-crema-g{
        display: table;
        margin: 0 auto;
        position: absolute;
        bottom: -95px;
        margin-left: 50%;
    }
}
/* objetivos  */
.objetivo{
    padding: 63px 64px 0px;
    .row{
        padding:  42px 32px 37px;
        .sub-titulo{
            padding: 30px 0px 0px;
        }
    }
}
.row-btn{
    display: table;
    margin: 0 auto;
    padding: 16px 0px 16px;
}

/*  veremos-hoy  */
.veremos-hoy{
    background: url("../img/bg/bg-interna1.jpg");
    background-size: cover;
    width: 100%;
    height: 577px;
    padding-top: 204px;
    .content-veremos-hoy{
        width: 542px;
        height: 183px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 70px 5px;
        margin: 0 auto 97px;
        padding: 50px;
        line-height: 90px;
        text-align: center;

        p{
          font-size: 35px;
          font-family: $base-bold; 
        }
    }
}

/* nuestros procesos  */

.nuestros-procesos{
    padding: 58px 66px 0px 66px;
    .titulo{
        padding-bottom: 42px;
        line-height: 32px;
    }
    .row{
        padding-bottom: 49px;
    }
    .recuadro-procesos{
        width: 189px;
        padding: 16px 24px;
        height: 73px;
        color: white;
        border-radius: 5px 40px;
        text-align: center;
        display: table;
        margin: 14px 0px 17px;
        p{
            display: table-cell;
            vertical-align: middle;
            font-size: 18px;
            font-family: $base-bold;
            line-height: 20px;
        }
    }
}
/* etapa1*/
.etapas{
    .etapas-intro{
        padding: 175px 96px 135px;
        overflow: hidden;
        p{
            line-height: 23px;
        }
    }
    .iconos-1{
        position: absolute;
        top: 0;
        right: 0;
        .i-one{
            top: 24px;
            left: -49px;
            position: absolute;
        }
        .i-two{
            top: 2px;
            left: -37px;
            position: absolute;
        }

    }
    .recuadro-procesos{
        width: 319px;
        height: 124px;
        color: white;
        border-radius: 5px 65px;
        text-align: center;
        display: table;
        margin: 14px 0px 17px;
        p{
            display: table-cell;
            vertical-align: middle;
            font-size: 36px;
            font-family: $base-bold;
            line-height: 36px;
        }
    }

}


.btnp-1{
    left: 145px;
}
.btnp-2{
    left: 256px;
}
.btnp-3{
    left: 368px;
}
.btnp-4{
    right: 274px;
}
.btnp-5{
    position: absolute;
    right: 128px;
    width: 133px;
    border-radius: 30px 5px;
    padding: 11px 10px;
}
.btnp-6{
    right: 5px;
}
.btnpro-7{
    right: 390px;
    top: 17px;
}
.btnpro-8{
    right: 264px;
    top: 17px;
}
.btnpro-8b{
    right: 140px;
    top: 17px;
}
.btnpro-9a{
    right: 16px;
    top: 17px;
}
.btnpro-9{
    right: 141px;
    top: 17px;
}
.colp-left{
    width: 460px;
    float: left;
}
.colp-right{
    width: 385px;
    display: inline-block;
    .btn-p{
        width: 115px;
        padding: 4px;
        border-radius: 20px 3px;
        text-align: center;
        font-family: $base-normal;
        margin-bottom: 3px;
    }
    .pd-20{
        padding-left: 20px;
    }
    p{
        font-size: 12px;
    }
    h3{
        font-size: 11px;
        color: white;
    }

}
.line-red{
    z-index: 2;
    width: 390px;
    height: 17px;
    position: absolute;
    right: 60px;
    bottom: -1px;
    border-right: 2px solid $red;
    border-bottom: 2px solid $red;
    &:after{
        content: " " ;
        position: absolute;
        height: 15px;
        top: 17px;
        left: 0px;
        border: 1px solid $red;

    }
    .fecha-l{
        position: absolute;
        left: -4px;
        top: 25px;
        color: $red;
        font-weight: bold;
        font-size: 11px;
    }
}
.line-yellow{
    z-index: 2;
    width: 390px;
    height: 17px;
    position: absolute;
    right: 62px;
    bottom: 15px;
    border-right: 2px solid $red;
    border-bottom: 2px solid $red;
    &:after{
        content: " " ;
        position: absolute;
        height: 25px;
        top: 17px;
        left: 0px;
        border: 1px solid $red;

    }
    .fecha-l{
        position: absolute;
        left: -4px;
        top: 33px;
        color: $red;
        font-weight: bold;
        font-size: 11px;
    }
}
.btn-revision2{
    position: absolute;
    width: 108px;
    height: 94px;  
    border-radius: 30px 5px;
    padding: 11px 10px;
}
.line2{
    position: absolute;
    bottom: -15px;
    right: 60px;
}
.p-revison{
    padding: 33px 48px 0px 60px;
    .box-revision{
        position: relative;
        margin-top: 11px;
        margin-bottom: 14px;
        p{
            font-size: 12px;
            color: white;
            line-height: 14px;
        }
        .flecha-btn{
            position: absolute;
            right: -12px;
            top: 32px;
            .flecha-l{
                position: absolute;
                left: -8px;
                font-weight: bold;
                font-size: 11px;
            }
            .line{
                position: absolute;
                left: -11px;
                top: 5.5px;
                width: 10px;
            }
        }
        .line-green1{
            border-top: 2px solid $green;
        }
        .line-red1{
            border-top: 2px solid $red;
        }
        .line-yellow1{
            border-top: 2px solid $yellow;
        }
        .circle{
            left: 51px;
            top: 3px;
            width: 83px;
            height: 83px;
            border-radius: 50%;
            position: absolute;
            background: #F9F0D6;
            display: table;
            &:after{
                content: "";
                top: 33px;
                right: -8px;
                width: 0;
                position: absolute;
                height: 0;
                border-top: 8px solid transparent;
                border-left: 12px solid #F9F0D6;
                border-bottom: 8px solid transparent;

            }
            h3{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                font-size:17px;
            }
        }
        .circle2{
            right: 40px;
            top: 10px;
            width: 83px;
            height: 83px;
            border-radius: 50%;
            position: absolute;
            background: #F9F0D6;
            display: table;
            &:after{
                content: "";
                top: 33px;
                left: -10px;
                width: 0;
                position: absolute;
                height: 0;
                border-top: 8px solid transparent;
                border-right: 12px solid #F9F0D6;
                border-bottom: 8px solid transparent;

            }
            h3{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                font-size:17px;
            }
        }
        .categoria{
            height: 45px;
            width: 85px;
            position: absolute;
            left: -18px;
            top: 25%;
            font-size: 12px; 
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
        }
        .btn-revision{
            top: 0px;
            width: 96px;
            height: 73px;
            position: absolute;
            padding: 11px 10px;
            color: white;
            border-radius: 30px 5px;
        }
        .row-p1{
            width: 100%;
            height: 106px;
            position: relative;
        }
        .row-p2{
            width: 100%;
            height: 138px;
            position: relative;
            background: rgba(163, 163, 163, 0.08);
            border-top: 1px solid #5D5D5D;
            border-bottom: 1px solid #5D5D5D;
        }
        .row-p3{
            width: 100%;
            height: 106px;
            position: relative;
            .btn-revision2{
                top: 10px !important;
            }
            .img-descarga{
                position: absolute;
                left: 0px;
                bottom: -55px;
                
            }

        }
    }
}