.objetivos{
    padding: 31px 57px 0px 75px !important;
    .objetivos-intro{
        .sub-titulo{
            font-size:18px; 
        }
        .recuadro-objetivo{
            width: 189px;
            display: table;
            height: 74px;
            border-radius: 3px 35px;
            margin-bottom: 26px;
            p{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                color: white;
                font-weight: 600;
            }
        }
    }
}
.btn-display{
    border-radius: 3px 35px;
    padding: 15px;
    h4{
        font-size: 18px;
        font-family: $base-bold;
        color: white;
        text-align: center;
    }
}

.mapa-objetivo{
    position:relative;
    width: 100%;
    height: 281px;
    .box-1{
        width: 57px;
        position: absolute;
        left: 4px;
        margin-top: 10px;
        p{
            font-size: 8px;
            font-family: $base-bold;
            line-height: 10px;
            span{
                font-size: 10px;
            }
        }
    }
    .fin{
        width: 84px;
        position: absolute;
        left: 115px;
        margin-top: 10px;
        p{
            text-align: center;
            font-size: 8px;
            font-family: $base-bold;
            line-height: 10px;
            color: $green;
            span{
                font-size: 10px;
            }
        }
    }

    .box-2{
        top: 46px;
    }
    .box-3{
        top: 104px;
        left: 40px;
    }
    .box-texto{
        position: absolute;
        h4{
            font-size: 10px !important;
            color: #999999;
            font-family: $base-medium;
        }
    }
    .box-4{
        left: 216px;
        top: 46px;
    }
    .box-5{
        left: 216px;
        top: 133px;
    }
    .box-6{
        left: 216px;
        bottom: 16px;
    }
    .box-7{
        right: 216px;
        top: 46px;
    }
    .box-8{
        right: 216px;
        top: 133px;
    }
    .box-9{
        right: 0;
        top: 46px;
    }
    .box-10{
        right: 0;
        top: 133px;
    }
    .box-g{
        background: #F9F0D6;
        width: 180px;
        padding: 10px 11px;
        position:absolute;
        h4{
            font-size: 13px !important;
        }
    }
    .flecha-1{
        position: absolute;
        height: 44px;
        width: 20px;
        left: 65px;
        .line{
            border-right: 3px solid #666666;
            height: 44px;
            position: absolute;
        }
        .fecha-l{
            position: absolute;
            left: -7.2px;
            top: 31px;
        }
    }
    .flecha-2{
        position: absolute;
        height: 44px;
        width: 20px;
        left: 97px;
        .line{
            border-right: 3px solid $green;
            height: 44px;
            position: absolute;
        }
        .fecha-l{
            position: absolute;
            left: -7.2px;
            top: -5px;
            color: $green;
        }
        .circle-cruz{
            position: absolute;
            left: -7px;
            top: 16px;
            z-index: 5;
            font-size: 22px;
            background: $green;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            &:after{
                content: " " ;
                position: absolute;
                height: 12px;
                top: 3px;
                left: 7px;
                border: 1.5px solid white;
            }
            &:before{
                content: " " ;
                position: absolute;
                width: 12px;
                height: 2px;
                top: 7.4px;
                left: 3px;
                border: 1.5px solid white;
            }
        }
    }
}
.glyphicon-menu-up, .glyphicon-menu-down{
    color: #666666;
}
.glyphicon-plus-sign{
    color: $green;
}
.content-flecha{
    position: absolute;
    .flecha-1{
        position: absolute;
        height: 36px;
        width: 20px;
        left: 65px;
        .line{
            border-right: 3px solid #666666;
            height: 36px;
            position: absolute;
        }
        .fecha-l{
            position: absolute;
            left: -7.2px;
            top: 24px;
        }
    }
    .flecha-2{
        position: absolute;
        height: 36px;
        width: 20px;
        left: 97px;
        .line{
            border-right: 3px solid $green;
            height: 36px;
            position: absolute;
        }
        .fecha-l{
            position: absolute;
            left: -7.2px;
            top: -4px;
            color: $green;
        }
        .circle-cruz{
            position: absolute;
            left: -7px;
            top: 12px;
            z-index: 5;
            font-size: 22px;
            background: $green;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            &:after{
                content: " " ;
                position: absolute;
                height: 12px;
                top: 3px;
                left: 7px;
                border: 1.5px solid white;
            }
            &:before{
                content: " " ;
                position: absolute;
                width: 12px;
                height: 2px;
                top: 7.4px;
                left: 3px;
                border: 1.5px solid white;
            }
        }
    }
}

.left1{
    left: 220px;
    top: 94px;
}
.left2{
    left: 220px;
    top: 179px;
}
.left3{
    right: 394px;
    top: 94px;
}
.left4{
    right: 187px;
    top: 94px;
}

.content-flecha-right{
    position: absolute;
    left: 115px;
    top: 35px;
    .flecha-1{
        position: absolute;
        height: 20px;
        width: 36px;
        left: 65px;
        .line{
            border-bottom: 3px solid #666666;
            border-right: 0px !important;
            width: 36px;
            top: 7px;
            position: absolute;
        }
        .fecha-l{
            position: absolute;
            left: 22px;
            top: 40px;
        }
    }
    .flecha-2{
        position: absolute;
        width: 36px;
        height: 10px;
        left: 65px;
        .line{
            border-top: 3px solid $green;
            border-right: 0px !important;
            width: 36px;
            position: absolute;
            top: 20px;
        }
        .fecha-l{
            position: absolute;
            left: -4px;
            top: 12.5px;
            color: $green;
        }
        .circle-cruz{
            position: absolute;
            left: 12px;
            top: 12px;
            z-index: 5;
            font-size: 22px;
            background: $green;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            &:after{
                content: " " ;
                position: absolute;
                height: 12px;
                top: 3px;
                left: 7px;
                border: 1.5px solid white;
            }
            &:before{
                content: " " ;
                position: absolute;
                width: 12px;
                height: 2px;
                top: 7.4px;
                left: 3px;
                border: 1.5px solid white;
            }
        }
    }
}

.rectangulo{
    width: 11px;
    height: 173px;
    position: absolute;
    left: 397px;
    top: 58px;
    border-bottom: 3px solid $green;
    border-right: 3px solid $green;
    &:after{
        content: "";
        width: 30px;
        border-top: 3px solid #7FC241;
        position: absolute;
        right: -30px;
    }
    .fecha-l{
        position: absolute;
        color: $green;
        top: 163.25px;
        left: -6px
    }
}
.rectangulo-2{
    width: 18px;
    height: 171px;
    position: absolute;
    left: 396px;
    top: 83px;
    border-bottom: 3px solid #666666;
    border-right: 3px solid #666666;
    &:after{
        content: "";
        width: 20px;
        border-top: 3px solid #666666;
        position: absolute;
        right: -20px;
    }
    .fecha-l{
        position: absolute;
        right: -24px;
        top: -7.6px;

    }
}
.rectangulo-3{
    width: 12px;
    height: 94px;
    position: absolute;
    right: 204px;
    top: 57px;
    border-bottom: 3px solid $green;
    border-right: 3px solid $green;
    &:after{
        content: "";
        width: 30px;
        border-top: 3px solid $green;
        position: absolute;
        right: -30px;
    }
    .fecha-l{
        position: absolute;
        color: $green;
        top: 84.25px;
        left: -5px;
    }
}
.rectangulo-4{
    width: 18px;
    height: 90px;
    position: absolute;
    right: 198px;
    top: 81px;
    border-bottom: 3px solid #666666;
    border-right: 3px solid #666666;
    &:after{
        content: "";
        width: 18px;
        border-top: 3px solid #666666;
        position: absolute;
        right: -20px;
    }
    .fecha-l{
        position: absolute;
        top: -8px;
        left: 22px;
    }
}
.circle-cruz1{
    position: absolute;
    left: 13px !important;
    top: -7px;
    z-index: 5;
    font-size: 22px;
    background: $green;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    &:after{
        content: " " ;
        position: absolute;
        height: 12px;
        top: 3px;
        left: 7px;
        border: 1.5px solid white;
    }
    &:before{
        content: " " ;
        position: absolute;
        width: 12px;
        height: 2px;
        top: 7.4px;
        left: 3px;
        border: 1.5px solid white;
    }
}
.circle-cruz4{
    position: absolute;
    left: 14px;
    top: -7px;
    z-index: 5;
    font-size: 22px;
    background: $green;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    &:after{
        content: " " ;
        position: absolute;
        height: 12px;
        top: 3px;
        left: 7px;
        border: 1.5px solid white;
    }
    &:before{
        content: " " ;
        position: absolute;
        width: 12px;
        height: 2px;
        top: 7.4px;
        left: 3px;
        border: 1.5px solid white;
    }
}
.recuadro-objeto{
    padding: 8px 20px;
    width: 151px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    border-color: #CCCCCC;
    border-style: dashed; 
    border-width: 1px;
    .row{
        padding: 0px;
    }
    p{
        font-size: 10px;
        font-family: $base-medium;
        line-height: 25px;
    }
    .triangulo-2{
        width: 10px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 24px solid $green;

    }
    .triangulo-1{
        width: 10px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 24px solid #666666;
    }
}
.mg-b{
    margin-bottom: 4px;
}
.texto-1{
    top: 272px;
    left: 256px;
}
.texto-2{
    top: 190px;
    right: 266px;
}
.texto-3{
    top: 190px;
    right: 53px;
}

