.menu{
	position: relative;
	background: $white;
	.menu-principal{
		margin:0;
		overflow: hidden;
		padding: 15px 0px 15px 25px;
		li{
			letter-spacing: 1.2px;
			margin-left: 9px;
			a{
				color: $gris;
				font-size: 14px;
				font-family: $base-bold;
                position: relative;
				&:hover{
					color: $gris;
				}
			}
		}
	}
    .menu--active {
        &:after {
          content: "";
          position: absolute;
          bottom: -22px;
          left: 50%;
          border-left: 100px;
          margin-left: -9px;
          z-index: 3;
          border-left: 9px solid transparent;
          border-right: 9px solid transparent;
          border-bottom: 15px solid $red;
          border-top-left-radius: 25px;

        }
    }
}
.sub-menu{
    width: 100%;
    left: 0;
    margin-left: 0;
    background: $red;
    ul{
        margin: 0;
    }
    li{
        padding: 5px 25px 9px;
        margin: 0px !important;
        a{
            color: white !important;
            font-size: 12px !important;
            font-family: $base-medium;
        }
    }
    li:first-child{
        padding-left: 118px;
    }
    .line-w{
        border-bottom: 2px solid white;

    }
}
.submenu1{
    height: 16px;
}

.box-logo{
	position: absolute;
	right: 20px;
	top: 0px;
    z-index: 10;
	.card-logo{
		border:1px solid #D1D3D4;
		z-index: 1;
		width: 167px;
	    height: 115px;
	    border-radius: 0px 60px 0px 60px;
	    background: $white;
	    text-align: center;
	    line-height: 100px;
	}
    li {
        display: table-cell;
        padding: 0;
        a {
          font-size: 16px;
          color: #ffffff;
          margin: 0 0 0 80px;
          line-height: 42px;
          &:hover {
            font-weight: bold;
            color: white;
          }
        }
        a.item_-active {
          font-weight: bold;
        }
        &:last-child {
          a {
            border-right: 0;
          }
        }
      }
      &:hover {
        display: block;
        }

}

.meto{
    font-size: 25px;
    display: block;
    font-family: $base-light !important;
}

.ck1{
    position: absolute;
    top: 161px;
    left: -8px;
}